{{ "<!-- About section -->" | safeHTML }}
<section class="about">
  <h3 class="about__title">{{ with .Site.Params.about.title }}{{ . }}{{ end }}</h3>

  <div class="about__heading">
    <div class="about__face"></div>
    <div class="icon icon--pencil"></div>
    <div class="icon icon--bulb"></div>
    <div class="icon icon--tactics"></div>
    <div class="icon icon--heart"></div>
  </div>

  <div class="about__intro">
    <p>{{ with .Site.Params.about.bio }}{{ . | markdownify }}{{ end }}</p>
  </div>

  {{ with .Site.Params.about.skills }}
  <div class="skills">
    {{ range . }}
    <div class="skills__unit">
      <div class="skills__label">{{ .name }}</div>
      <div class="skills__icons skills--{{ .value }}">
        {{ range (seq 10) }}
        <span class="skills__level"></span>
        {{ end }}
      </div>
    </div>
    {{ end }}
  </div>
  {{ end }}
</section>
