{{/* 1. Adding the site params variable.
  2. Defining some extra content when this is the home page, including a modified version of the intro-description/author-bio from the sidebar, with a SVG filter.
  3. Adding the page (list) title when this is not the home page.
  4. Adding #content anchor to main content (for skip-to link).
  5. Removing search widget (since we show it all the time in the sidebar).
  6. Adding `.Scratch.Set "withinRangeLoop" true` to selectively render elements inside the loop vs. on a full page.
  7. Adding list title based on taxonomy type.
*/}}
{{ $s := .Site.Params }}
{{ $pages := .Pages }}

{{ $listTitle := .Title }}
{{ if or (eq .Data.Plural "categories") (eq .Data.Plural "tags") }}
  {{ $listTitle = printf "%s" "’" | printf "%s%s" $listTitle | printf "%s%s" " ‘" | printf "%s%s" .Data.Singular | printf "%s%s" "Posts with the " | printf "%s" }}
{{ end }}
{{ if or (eq .Data.Plural "year") (eq .Data.Plural "month") }}
  {{ $listTitle = printf "%s"  $listTitle | printf "%s%s" "Posts from " | printf "%s" }}
  {{ $listTitle = replace $listTitle "Archives: " "" }}
{{ end }}

{{ if .IsHome }}
  {{ $pages = where site.RegularPages "Type" "in" site.Params.mainSections }}
{{ end }}
<div class="grid-inverse wrap content" id="content">
  <ul class="posts" id="posts">
    {{ if .IsHome }}
      <li class="home_bio h-card vcard">
        {{- $author := $s.Author }}
        <a
          href="{{ .Site.BaseURL }}"
          class="p-name u-url url author metatag"
          rel="me"
          tabindex="-1"
          ><span class="img_wrap"
            ><svg
              width="0"
              height="0"
              viewBox="0 0 100 100"
              xmlns="http://www.w3.org/2000/svg"
            >
              <defs>
                <clipPath id="blob" clipPathUnits="objectBoundingBox">
                  <path />
                </clipPath>
              </defs></svg
            ><img
              class="u-photo"
              width="128"
              height="128"
              src="{{ absURL $author.photo }}"
              alt="{{ $author.name }} photo" /></span
        ></a>
        <div>
          <h1>Hello, I&#8217;m <span>{{ $author.name }}</span></h1>
          <div class="author_bio">
            {{ markdownify $s.IntroDescription }}
            {{- if ( ne $s.introURL false ) }}
              {{- $r := T "read_more" }}
              <a
                href="{{ absLangURL (default "about/" $s.introURL) }}"
                class="button button_translucent"
                role="button"
                title="{{ $r }} about me"
                >{{ $r }}<span class="hidden-visually"> about me</span></a
              >
            {{- end }}
          </div>
        </div>
      </li>
    {{ else }}
      <h1 class="list_title">{{ $listTitle }}</h1>
    {{ end }}
    {{- range (.Paginate $pages).Pages }}
      {{ .Scratch.Set "withinRangeLoop" true }}
      {{ partial "excerpt" . }}
    {{- end }}
    <li>
      {{- template "_internal/pagination.html" . }}
    </li>
  </ul>
  {{- partial "sidebar" . }}
</div>
