{{/*

Setting favicon code to match the site theme.

*/}}
<link rel="apple-touch-icon" sizes="180x180" href='{{ absURL "images/apple-touch-icon.png" }}'>
<link rel="icon" type="image/png" sizes="32x32" href='{{ absURL "images/favicon-32x32.png" }}'>
<link rel="icon" type="image/png" sizes="16x16" href='{{ absURL "images/favicon-16x16.png" }}'>
<link rel="manifest" href='{{ absURL "images/site.webmanifest" }}'>
<link rel="mask-icon" href='{{ absURL "safari-pinned-tab.svg" }}' color="#5bbad5">
<link rel="shortcut icon" href='{{ absURL "images/favicon.ico" }}'>
<meta name="apple-mobile-web-app-title" content="{{ .Site.Title }}">
<meta name="application-name" content="{{ .Site.Title }}">
<meta name="msapplication-TileColor" content="#00a300">
<meta name="msapplication-config" content='{{ absURL "images/browserconfig.xml" }}'>
<meta name="theme-color" content="#ffffff">
