{{/* Setting favicon code to match the site theme. */}}
<link
  rel="apple-touch-icon"
  sizes="180x180"
  href="{{ "/icons/apple-touch-icon.png" | absURL }}"
/>
<link
  rel="icon"
  type="image/png"
  sizes="32x32"
  href="{{ "/icons/favicon-32x32.png" | absURL }}"
/>
<link
  rel="icon"
  type="image/png"
  sizes="16x16"
  href="{{ "/icons/favicon-16x16.png" | absURL }}"
/>
<link rel="manifest" href="{{ "/icons/site.webmanifest" | absURL }}" />
<link
  rel="mask-icon"
  href="{{ "/icons/safari-pinned-tab.svg" | absURL }}"
  color="#5bbad5"
/>
<link rel="shortcut icon" href="{{ "/icons/favicon.ico" | absURL }}" />
<meta name="apple-mobile-web-app-title" content="{{ .Site.Title }}" />
<meta name="application-name" content="{{ .Site.Title }}" />
<meta name="msapplication-TileColor" content="#00a300" />
<meta
  name="msapplication-config"
  content="{{ "/icons/browserconfig.xml" | absURL }}"
/>
<meta name="theme-color" content="#ffffff" />
