<style>
  /* source-sans-pro-regular - latin */
  @font-face {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    src: url('{{ "/fonts/source-sans-pro-v14-latin-regular.eot" | relURL }}'); /* IE9 Compat Modes */
    src: local(''),
    url('{{ "/fonts/source-sans-pro-v14-latin-regular.eot?#iefix" | relURL }}') format('embedded-opentype'), /* IE6-IE8 */
    url('{{ "/fonts/source-sans-pro-v14-latin-regular.woff2" | relURL }}') format('woff2'), /* Super Modern Browsers */
    url('{{ "/fonts/source-sans-pro-v14-latin-regular.woff" | relURL }}') format('woff'), /* Modern Browsers */
    url('{{ "/fonts/source-sans-pro-v14-latin-regular.ttf" | relURL }}') format('truetype'), /* Safari, Android, iOS */
    url('{{ "/fonts/source-sans-pro-v14-latin-regular.svg#SourceSansPro" | relURL }}') format('svg'); /* Legacy iOS */
  }

  /* source-sans-pro-italic - latin */
  @font-face {
    font-family: 'Source Sans Pro';
    font-style: italic;
    font-weight: 400;
    src: url('{{ "/fonts/source-sans-pro-v14-latin-italic.eot" | relURL }}'); /* IE9 Compat Modes */
    src: local(''),
    url('{{ "/fonts/source-sans-pro-v14-latin-italic.eot?#iefix" | relURL }}') format('embedded-opentype'), /* IE6-IE8 */
    url('{{ "/fonts/source-sans-pro-v14-latin-italic.woff2" | relURL }}') format('woff2'), /* Super Modern Browsers */
    url('{{ "/fonts/source-sans-pro-v14-latin-italic.woff" | relURL }}') format('woff'), /* Modern Browsers */
    url('{{ "/fonts/source-sans-pro-v14-latin-italic.ttf" | relURL }}') format('truetype'), /* Safari, Android, iOS */
    url('{{ "/fonts/source-sans-pro-v14-latin-italic.svg#SourceSansPro" | relURL }}') format('svg'); /* Legacy iOS */
    font-display: swap; /* Used on italic fonts only; non-italic fonts are preloaded in HTML. */
  }

  /* source-sans-pro-900 - latin */
  @font-face {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 900;
    src: url('{{ "/fonts/source-sans-pro-v14-latin-900.eot" | relURL }}'); /* IE9 Compat Modes */
    src: local(''),
    url('{{ "/fonts/source-sans-pro-v14-latin-900.eot?#iefix" | relURL }}') format('embedded-opentype'), /* IE6-IE8 */
    url('{{ "/fonts/source-sans-pro-v14-latin-900.woff2" | relURL }}') format('woff2'), /* Super Modern Browsers */
    url('{{ "/fonts/source-sans-pro-v14-latin-900.woff" | relURL }}') format('woff'), /* Modern Browsers */
    url('{{ "/fonts/source-sans-pro-v14-latin-900.ttf" | relURL }}') format('truetype'), /* Safari, Android, iOS */
    url('{{ "/fonts/source-sans-pro-v14-latin-900.svg#SourceSansPro" | relURL }}') format('svg'); /* Legacy iOS */
  }

  /* source-sans-pro-900italic - latin */
  @font-face {
    font-family: 'Source Sans Pro';
    font-style: italic;
    font-weight: 900;
    src: url('{{ "/fonts/source-sans-pro-v14-latin-900italic.eot" | relURL }}'); /* IE9 Compat Modes */
    src: local(''),
    url('{{ "/fonts/source-sans-pro-v14-latin-900italic.eot?#iefix" | relURL }}') format('embedded-opentype'), /* IE6-IE8 */
    url('{{ "/fonts/source-sans-pro-v14-latin-900italic.woff2" | relURL }}') format('woff2'), /* Super Modern Browsers */
    url('{{ "/fonts/source-sans-pro-v14-latin-900italic.woff" | relURL }}') format('woff'), /* Modern Browsers */
    url('{{ "/fonts/source-sans-pro-v14-latin-900italic.ttf" | relURL }}') format('truetype'), /* Safari, Android, iOS */
    url('{{ "/fonts/source-sans-pro-v14-latin-900italic.svg#SourceSansPro" | relURL }}') format('svg'); /* Legacy iOS */
    font-display: swap; /* Used on italic fonts only; non-italic fonts are preloaded in HTML. */
  }
</style>
