<style>
/* source-sans-pro-regular - latin */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: url('{{ "../fonts/source-sans-pro/source-sans-pro-v21-latin-regular.eot" | relURL }}'); /* IE9 Compat Modes */
  src: local(''),
       url('{{ "../fonts/source-sans-pro/source-sans-pro-v21-latin-regular.eot?#iefix" | relURL }}') format('embedded-opentype'), /* IE6-IE8 */
       url('{{ "../fonts/source-sans-pro/source-sans-pro-v21-latin-regular.woff2" | relURL }}') format('woff2'), /* Super Modern Browsers */
       url('{{ "../fonts/source-sans-pro/source-sans-pro-v21-latin-regular.woff" | relURL }}') format('woff'), /* Modern Browsers */
       url('{{ "../fonts/source-sans-pro/source-sans-pro-v21-latin-regular.ttf" | relURL }}') format('truetype'), /* Safari, Android, iOS */
       url('{{ "../fonts/source-sans-pro/source-sans-pro-v21-latin-regular.svg#SourceSansPro" | relURL }}') format('svg'); /* Legacy iOS */
  font-display: swap;
}

/* source-sans-pro-italic - latin */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: italic;
  font-weight: 400;
  src: url('{{ "../fonts/source-sans-pro/source-sans-pro-v21-latin-italic.eot" | relURL }}'); /* IE9 Compat Modes */
  src: local(''),
       url('{{ "../fonts/source-sans-pro/source-sans-pro-v21-latin-italic.eot?#iefix" | relURL }}') format('embedded-opentype'), /* IE6-IE8 */
       url('{{ "../fonts/source-sans-pro/source-sans-pro-v21-latin-italic.woff2" | relURL }}') format('woff2'), /* Super Modern Browsers */
       url('{{ "../fonts/source-sans-pro/source-sans-pro-v21-latin-italic.woff" | relURL }}') format('woff'), /* Modern Browsers */
       url('{{ "../fonts/source-sans-pro/source-sans-pro-v21-latin-italic.ttf" | relURL }}') format('truetype'), /* Safari, Android, iOS */
       url('{{ "../fonts/source-sans-pro/source-sans-pro-v21-latin-italic.svg#SourceSansPro" | relURL }}') format('svg'); /* Legacy iOS */
  font-display: swap;
}

/* source-sans-pro-900 - latin */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 900;
  src: url('{{ "../fonts/source-sans-pro/source-sans-pro-v21-latin-900.eot" | relURL }}'); /* IE9 Compat Modes */
  src: local(''),
       url('{{ "../fonts/source-sans-pro/source-sans-pro-v21-latin-900.eot?#iefix" | relURL }}') format('embedded-opentype'), /* IE6-IE8 */
       url('{{ "../fonts/source-sans-pro/source-sans-pro-v21-latin-900.woff2" | relURL }}') format('woff2'), /* Super Modern Browsers */
       url('{{ "../fonts/source-sans-pro/source-sans-pro-v21-latin-900.woff" | relURL }}') format('woff'), /* Modern Browsers */
       url('{{ "../fonts/source-sans-pro/source-sans-pro-v21-latin-900.ttf" | relURL }}') format('truetype'), /* Safari, Android, iOS */
       url('{{ "../fonts/source-sans-pro/source-sans-pro-v21-latin-900.svg#SourceSansPro" | relURL }}') format('svg'); /* Legacy iOS */
  font-display: swap;
}

/* source-sans-pro-900italic - latin */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: italic;
  font-weight: 900;
  src: url('{{ "../fonts/source-sans-pro/source-sans-pro-v21-latin-900italic.eot" | relURL }}'); /* IE9 Compat Modes */
  src: local(''),
       url('{{ "../fonts/source-sans-pro/source-sans-pro-v21-latin-900italic.eot?#iefix" | relURL }}') format('embedded-opentype'), /* IE6-IE8 */
       url('{{ "../fonts/source-sans-pro/source-sans-pro-v21-latin-900italic.woff2" | relURL }}') format('woff2'), /* Super Modern Browsers */
       url('{{ "../fonts/source-sans-pro/source-sans-pro-v21-latin-900italic.woff" | relURL }}') format('woff'), /* Modern Browsers */
       url('{{ "../fonts/source-sans-pro/source-sans-pro-v21-latin-900italic.ttf" | relURL }}') format('truetype'), /* Safari, Android, iOS */
       url('{{ "../fonts/source-sans-pro/source-sans-pro-v21-latin-900italic.svg#SourceSansPro" | relURL }}') format('svg'); /* Legacy iOS */
  font-display: swap;
}


/* cormorant-regular - latin */
@font-face {
  font-family: 'Cormorant';
  font-style: normal;
  font-weight: 400;
  src: url('{{ "../fonts/cormorant/cormorant-v18-latin-regular.eot" | relURL }}'); /* IE9 Compat Modes */
  src: local(''),
       url('{{ "../fonts/cormorant/cormorant-v18-latin-regular.eot?#iefix" | relURL }}') format('embedded-opentype'), /* IE6-IE8 */
       url('{{ "../fonts/cormorant/cormorant-v18-latin-regular.woff2" | relURL }}') format('woff2'), /* Super Modern Browsers */
       url('{{ "../fonts/cormorant/cormorant-v18-latin-regular.woff" | relURL }}') format('woff'), /* Modern Browsers */
       url('{{ "../fonts/cormorant/cormorant-v18-latin-regular.ttf" | relURL }}') format('truetype'), /* Safari, Android, iOS */
       url('{{ "../fonts/cormorant/cormorant-v18-latin-regular.svg#Cormorant" | relURL }}') format('svg'); /* Legacy iOS */
  font-display: swap;
}

/* cormorant-700 - latin */
@font-face {
  font-family: 'Cormorant';
  font-style: normal;
  font-weight: 700;
  src: url('{{ "../fonts/cormorant/cormorant-v18-latin-700.eot" | relURL }}'); /* IE9 Compat Modes */
  src: local(''),
       url('{{ "../fonts/cormorant/cormorant-v18-latin-700.eot?#iefix" | relURL }}') format('embedded-opentype'), /* IE6-IE8 */
       url('{{ "../fonts/cormorant/cormorant-v18-latin-700.woff2" | relURL }}') format('woff2'), /* Super Modern Browsers */
       url('{{ "../fonts/cormorant/cormorant-v18-latin-700.woff" | relURL }}') format('woff'), /* Modern Browsers */
       url('{{ "../fonts/cormorant/cormorant-v18-latin-700.ttf" | relURL }}') format('truetype'), /* Safari, Android, iOS */
       url('{{ "../fonts/cormorant/cormorant-v18-latin-700.svg#Cormorant" | relURL }}') format('svg'); /* Legacy iOS */
  font-display: swap;
}

/* cormorant-italic - latin */
@font-face {
  font-family: 'Cormorant';
  font-style: italic;
  font-weight: 400;
  src: url('{{ "../fonts/cormorant/cormorant-v18-latin-italic.eot" | relURL }}'); /* IE9 Compat Modes */
  src: local(''),
       url('{{ "../fonts/cormorant/cormorant-v18-latin-italic.eot?#iefix" | relURL }}') format('embedded-opentype'), /* IE6-IE8 */
       url('{{ "../fonts/cormorant/cormorant-v18-latin-italic.woff2" | relURL }}') format('woff2'), /* Super Modern Browsers */
       url('{{ "../fonts/cormorant/cormorant-v18-latin-italic.woff" | relURL }}') format('woff'), /* Modern Browsers */
       url('{{ "../fonts/cormorant/cormorant-v18-latin-italic.ttf" | relURL }}') format('truetype'), /* Safari, Android, iOS */
       url('{{ "../fonts/cormorant/cormorant-v18-latin-italic.svg#Cormorant" | relURL }}') format('svg'); /* Legacy iOS */
  font-display: swap;
}

/* cormorant-700italic - latin */
@font-face {
  font-family: 'Cormorant';
  font-style: italic;
  font-weight: 700;
  src: url('{{ "../fonts/cormorant/cormorant-v18-latin-700italic.eot" | relURL }}'); /* IE9 Compat Modes */
  src: local(''),
       url('{{ "../fonts/cormorant/cormorant-v18-latin-700italic.eot?#iefix" | relURL }}') format('embedded-opentype'), /* IE6-IE8 */
       url('{{ "../fonts/cormorant/cormorant-v18-latin-700italic.woff2" | relURL }}') format('woff2'), /* Super Modern Browsers */
       url('{{ "../fonts/cormorant/cormorant-v18-latin-700italic.woff" | relURL }}') format('woff'), /* Modern Browsers */
       url('{{ "../fonts/cormorant/cormorant-v18-latin-700italic.ttf" | relURL }}') format('truetype'), /* Safari, Android, iOS */
       url('{{ "../fonts/cormorant/cormorant-v18-latin-700italic.svg#Cormorant" | relURL }}') format('svg'); /* Legacy iOS */
  font-display: swap;
}


/* ibm-plex-serif-300 - latin */
@font-face {
  font-family: 'IBM Plex Serif';
  font-style: normal;
  font-weight: 300;
  src: url('{{ "../fonts/ibm-plex-serif/ibm-plex-serif-v15-latin-300.eot" | relURL }}'); /* IE9 Compat Modes */
  src: local(''),
       url('{{ "../fonts/ibm-plex-serif/ibm-plex-serif-v15-latin-300.eot?#iefix" | relURL }}') format('embedded-opentype'), /* IE6-IE8 */
       url('{{ "../fonts/ibm-plex-serif/ibm-plex-serif-v15-latin-300.woff2" | relURL }}') format('woff2'), /* Super Modern Browsers */
       url('{{ "../fonts/ibm-plex-serif/ibm-plex-serif-v15-latin-300.woff" | relURL }}') format('woff'), /* Modern Browsers */
       url('{{ "../fonts/ibm-plex-serif/ibm-plex-serif-v15-latin-300.ttf" | relURL }}') format('truetype'), /* Safari, Android, iOS */
       url('{{ "../fonts/ibm-plex-serif/ibm-plex-serif-v15-latin-300.svg#IBMPlexSerif" | relURL }}') format('svg'); /* Legacy iOS */
  font-display: swap;
}

/* ibm-plex-serif-300italic - latin */
@font-face {
  font-family: 'IBM Plex Serif';
  font-style: italic;
  font-weight: 300;
  src: url('{{ "../fonts/ibm-plex-serif/ibm-plex-serif-v15-latin-300italic.eot" | relURL }}'); /* IE9 Compat Modes */
  src: local(''),
       url('{{ "../fonts/ibm-plex-serif/ibm-plex-serif-v15-latin-300italic.eot?#iefix" | relURL }}') format('embedded-opentype'), /* IE6-IE8 */
       url('{{ "../fonts/ibm-plex-serif/ibm-plex-serif-v15-latin-300italic.woff2" | relURL }}') format('woff2'), /* Super Modern Browsers */
       url('{{ "../fonts/ibm-plex-serif/ibm-plex-serif-v15-latin-300italic.woff" | relURL }}') format('woff'), /* Modern Browsers */
       url('{{ "../fonts/ibm-plex-serif/ibm-plex-serif-v15-latin-300italic.ttf" | relURL }}') format('truetype'), /* Safari, Android, iOS */
       url('{{ "../fonts/ibm-plex-serif/ibm-plex-serif-v15-latin-300italic.svg#IBMPlexSerif" | relURL }}') format('svg'); /* Legacy iOS */
  font-display: swap;
}

/* ibm-plex-serif-600 - latin */
@font-face {
  font-family: 'IBM Plex Serif';
  font-style: normal;
  font-weight: 600;
  src: url('{{ "../fonts/ibm-plex-serif/ibm-plex-serif-v15-latin-700.eot" | relURL }}'); /* IE9 Compat Modes */
  src: local(''),
       url('{{ "../fonts/ibm-plex-serif/ibm-plex-serif-v15-latin-700.eot?#iefix" | relURL }}') format('embedded-opentype'), /* IE6-IE8 */
       url('{{ "../fonts/ibm-plex-serif/ibm-plex-serif-v15-latin-700.woff2" | relURL }}') format('woff2'), /* Super Modern Browsers */
       url('{{ "../fonts/ibm-plex-serif/ibm-plex-serif-v15-latin-700.woff" | relURL }}') format('woff'), /* Modern Browsers */
       url('{{ "../fonts/ibm-plex-serif/ibm-plex-serif-v15-latin-700.ttf" | relURL }}') format('truetype'), /* Safari, Android, iOS */
       url('{{ "../fonts/ibm-plex-serif/ibm-plex-serif-v15-latin-700.svg#IBMPlexSerif" | relURL }}') format('svg'); /* Legacy iOS */
  font-display: swap;
}

/* ibm-plex-serif-600italic - latin */
@font-face {
  font-family: 'IBM Plex Serif';
  font-style: italic;
  font-weight: 600;
  src: url('{{ "../fonts/ibm-plex-serif/ibm-plex-serif-v15-latin-700italic.eot" | relURL }}'); /* IE9 Compat Modes */
  src: local(''),
       url('{{ "../fonts/ibm-plex-serif/ibm-plex-serif-v15-latin-700italic.eot?#iefix" | relURL }}') format('embedded-opentype'), /* IE6-IE8 */
       url('{{ "../fonts/ibm-plex-serif/ibm-plex-serif-v15-latin-700italic.woff2" | relURL }}') format('woff2'), /* Super Modern Browsers */
       url('{{ "../fonts/ibm-plex-serif/ibm-plex-serif-v15-latin-700italic.woff" | relURL }}') format('woff'), /* Modern Browsers */
       url('{{ "../fonts/ibm-plex-serif/ibm-plex-serif-v15-latin-700italic.ttf" | relURL }}') format('truetype'), /* Safari, Android, iOS */
       url('{{ "../fonts/ibm-plex-serif/ibm-plex-serif-v15-latin-700italic.svg#IBMPlexSerif" | relURL }}') format('svg'); /* Legacy iOS */
  font-display: swap;
}

</style>
