{{/* Rewritten to add icon classes, extra copyright information and h-card
  (indieweb).
*/}}
{{- $s := .Site.Params }}
{{ $t := .Site.Title }}
{{- if or .Params.enableMathNotation $s.enableMathNotation }}
  {{ partialCached "math" . }}
{{- end }}
{{- $iconsDir := default "icons/" .Site.Params.iconsDir }}
{{- $defaultFooterLogo := printf "%s%s" $iconsDir "apple-touch-icon.png" }}
<footer class="footer">
  <div class="footer_inner wrap pale">
    <a href="/"
      ><img
        src="{{ absURL (default $defaultFooterLogo $s.footerLogo) }}"
        class="icon icon_2 transparent"
        alt="{{ $t }}"
    /></a>
    <p>
      {{ T "copyright" }}{{ with $s.since }}
        &nbsp;{{ . }}&#8211;
      {{ end }}&nbsp;<span class="year"></span>&nbsp;<a href="/">{{ $t }}</a>.
      {{ T "all_rights" }}
      <a href="https://github.com/rootwork/rootwork.org#licenses"
        >See the repo</a
      >
      for details about code licenses.
      <a href="/privacy">View the privacy policy.</a>
    </p>
    {{- partialCached "top" . }}
  </div>
</footer>
