{{/* Custom partial defining meta keywords based on categories and tags. */}}
{{ $s := .Site.Params }}
{{ $p := .Params }}

{{- $metaKeywords := slice -}}

{{- with $p.categories -}}
  {{- $metaKeywords = $metaKeywords | append . -}}
{{- end -}}

{{- with $p.tags -}}
  {{- $metaKeywords = $metaKeywords | append . -}}
{{- end -}}

{{- with $p.keywords -}}
  {{- $metaKeywords = $metaKeywords | append . -}}
{{- end -}}

{{- with $metaKeywords -}}
  {{/* Add meta keywords based on tags and categories. */}}
  {{- range $key, $value := $.Site.Data.terms.keywords.additional -}}
    {{- if in $metaKeywords $key -}}
      {{- $metaKeywords = $metaKeywords | append $value -}}
    {{- end -}}
  {{- end -}}

  {{/* Comma-delimit and remove empty values. */}}
  {{- $metaKeywords = delimit $metaKeywords ", " -}}
  {{- $metaKeywords = replace $metaKeywords ", , " ", " -}}
{{- end -}}

{{- $keywords := "" -}}
{{- with $.Site.Data.terms.keywords.default -}}
  {{- $keywords = delimit $.Site.Data.terms.keywords.default "," -}}
{{- end -}}
{{- with $metaKeywords -}}
  {{- $keywords = $metaKeywords -}}
{{- end -}}
{{- with $keywords -}}
  <meta name="keywords" content="{{- $keywords -}}" />
{{- end -}}
