{{/* 1. Increasing description length to 200 characters.
  2. Reworking keywords section.
  3. Adding JSON-LD schema.
*/}}
{{- $summary := truncate 160 .Summary }}
{{- $s := .Site.Params }}
{{- $p := .Params }}

{{- $relpath := "" -}}
{{- if or $s.usePageBundles $p.usePageBundles }}
  {{- $relpath = .Page.RelPermalink -}}
{{- end }}

{{ if eq $p.usePageBundles false }}
  {{- $relpath = "" }}
{{ end }}

{{- with $p.description }}
  {{- $summary = truncate 200 . }}
{{- end }}
{{- if .IsHome }}
  {{- $summary = $s.description }}
  {{- with $p.description }}
    {{- $summary = . }}
  {{- end }}
{{- end }}
{{- $site := .Site.Title }}
{{- $title := .Title }}
{{- $permalink := .Permalink }}
{{- $logo := absURL $s.logo }}
{{- $author := $s.author }}
{{- with $p.author }}
  {{ $author := . }}
{{- end }}
{{- $image := absURL $s.fallBackOgImage }}
{{- with $p.featureImage }}
  {{- $fullpath := ( add $relpath . ) -}}
  {{- $image = absURL $fullpath }}
{{- end }}
{{- with $p.thumbnail }}
  {{- $fullpath := ( add $relpath . ) -}}
  {{- $image = absURL $fullpath }}
{{- end }}
{{- with $p.shareImage }}
  {{- $fullpath := ( add $relpath . ) -}}
  {{- $image = absURL $fullpath }}
{{- end }}

{{/* Keywords */}}
{{- $metaKeywords := slice -}}

{{- with $p.categories -}}
  {{- $metaKeywords = $metaKeywords | append . -}}
{{- end -}}

{{- with $p.tags -}}
  {{- $metaKeywords = $metaKeywords | append . -}}
{{- end -}}

{{- with $p.keywords -}}
  {{- $metaKeywords = $metaKeywords | append . -}}
{{- end -}}

{{- with $metaKeywords -}}
  {{/* Add meta keywords based on tags and categories. */}}
  {{- range $key, $value := $.Site.Data.terms.keywords.additional -}}
    {{- if in $metaKeywords $key -}}
      {{- $metaKeywords = $metaKeywords | append $value -}}
    {{- end -}}
  {{- end -}}

  {{/* Comma-delimit and remove empty values. */}}
  {{- $metaKeywords = delimit $metaKeywords ", " -}}
  {{- $metaKeywords = replace $metaKeywords ", , " ", " -}}
{{- end -}}

{{- $keywords := "" -}}
{{- with $.Site.Data.terms.keywords.default -}}
  {{- $keywords = delimit $.Site.Data.terms.keywords.default "," -}}
{{- end -}}
{{- with $metaKeywords -}}
  {{- $keywords = $metaKeywords -}}
{{- end -}}
{{- with $keywords -}}
  <meta name="keywords" content="{{- $keywords -}}" />
{{- end -}}


<meta property="og:locale" content="{{ .Lang }}" />
{{ range .Translations }}
  <meta property="og:locale:alternate" content="{{ .Lang }}" />
{{ end }}
{{- if .IsHome }}
  <meta property="og:type" content="website" />
{{- else }}
  <meta property="og:type" content="article" />
{{- end }}
<meta name="description" content="{{ $summary }}" />
<meta
  name="twitter:card"
  content="{{ if $s.largeTwitterCard }}
    summary_large_image
  {{ else }}
    summary
  {{ end }}"
/>
<meta name="twitter:creator" content="{{ $s.twitter }}" />
<meta name="twitter:title" content="{{ .Title }}" />
<meta name="twitter:image" content="{{ $image }}" />
<meta property="og:url" content="{{ $permalink }}" />
<meta property="og:title" content="{{ $title }}" />
<meta property="og:description" content="{{ $summary }}" />
<meta property="og:image" content="{{ $image }}" />
{{- if eq .Section $s.blogDir -}}
  {{- $date := ( .Date.Format "2006-02-01") -}}
  {{- $date := (time .Date) }}
  {{- $lastMod := (time .Lastmod) }}
  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "BlogPosting",
      "mainEntityOfPage":"{{ $permalink }}",
      "name": "{{ $site }}",
      "headline": {{ $title }},
      "description": {{ $summary }},
      "url": "{{ $permalink }}",
      "datePublished": {{ $date  }},
      "dateModified": {{ $lastMod }},
      "author": {
        "@type": "Person",
        "name": "{{ $author }}"
      },
      "image":{
        "@type":"ImageObject",
        "url": "{{ $image }}"
      },
      "publisher": {
        "@type": "Organization",
        "logo": {
          "@type":"ImageObject",
          "url": "{{ $logo }}"
        },
        "name": "{{ $site }}",
        "license": "{{ T "license" }}"
      }
    }
  </script>
{{- end }}
{{ if .IsHome -}}
<script type="application/ld+json">
{
    "@context": "http://schema.org",
    "@type": "WebSite",
    "name": "{{ .Site.Title }}",
    "url": "{{ .Site.BaseURL }}",
    "description": "{{ .Site.Params.description }}",
    "thumbnailUrl": "{{ .Site.Params.Logo | absURL }}",
    "license": "{{ T "license" }}"
}
</script>
{{ else if .IsPage }}
  {{ $author :=  or (.Params.author) (.Site.Author.name) }}
  {{ $org_name :=  .Site.Title }}
<script type="application/ld+json">
{
    "@context": "http://schema.org",
    "@type": "BlogPosting",
    "articleSection": "{{ .Section }}",
    "name": "{{ .Title | safeJS }}",
    "headline": "{{ .Title | safeJS }}",
    "description": "{{ if .Description }}{{ .Description | safeJS }}{{ else }}{{if .IsPage}}{{ .Summary  }}{{ end }}{{ end }}",
    "inLanguage": {{ .Site.LanguageCode | default "en-us" }},
    "isFamilyFriendly": "true",
    "mainEntityOfPage": {
        "@type": "WebPage",
        "@id": "{{ .Permalink }}"
    },
    "author" : {
        "@type": "Person",
        "name": "{{ $author }}"
    },
    "creator" : {
        "@type": "Person",
        "name": "{{ $author }}"
    },
    "accountablePerson" : {
        "@type": "Person",
        "name": "{{ $author }}"
    },
    "copyrightHolder" : "{{ $org_name }}",
    "copyrightYear" : "{{ .Date.Format "2006" }}",
    "dateCreated": "{{ .Date.Format "2006-01-02T15:04:05.00Z" | safeHTML }}",
    "datePublished": "{{ .PublishDate.Format "2006-01-02T15:04:05.00Z" | safeHTML }}",
    "dateModified": "{{ .Lastmod.Format "2006-01-02T15:04:05.00Z" | safeHTML }}",
    "publisher":{
        "@type":"Organization",
        "name": {{ $org_name }},
        "url": {{ .Site.BaseURL }},
        "logo": {
            "@type": "ImageObject",
            "url": "{{ .Site.Params.logo | absURL }}",
            "width":"32",
            "height":"32"
        }
    },
    "image": {{ with $image }}{{ $image }}{{ else}}{{.Site.Params.logo | absURL }}{{ end }},
    "url" : "{{ .Permalink }}",
    "wordCount" : "{{ .WordCount }}",
    "genre" : [ {{ $keywords }} ],
    "keywords" : [ {{ $keywords }} ],
    "license": "{{ T "license" }}"
}
</script>
{{ end }}
