{{/* This file has been rewritten. */}}

{{- $s := .Site.Params -}}
{{- $p := .Params -}}

{{- $site := partial "function/vars/getSite" . -}}
{{- $context := partial "function/vars/getContext" . -}}
{{- $path := partial "function/vars/getPath" . -}}
{{- $title := partial "function/vars/getTitle" . -}}
{{- $author := partial "function/vars/getAuthor" . -}}
{{- $date := partial "function/vars/getDate" . -}}
{{- $image := partial "function/vars/getImage" . -}}
{{- $summary := partial "function/vars/getSummary" . -}}
{{- $keywords := partial "function/vars/getKeywords" . -}}
{{- $content := partial "function/vars/getContent" . -}}


<meta property="og:locale" content="{{ $site.lang }}" />

{{- range .Translations }}
  <meta property="og:locale:alternate" content="{{ .Language.Lang }}" />
{{- end }}

{{- if $context.ishome }}
  <meta property="og:type" content="website" />
  <meta property="og:title" content="{{ $site.name }}" />
  <meta name="twitter:title" content="{{ $site.name }}" />
  <meta name="twitter:image" content="{{ $site.logo }}" />
  <meta name="twitter:creator" content="@{{ $author.site.twitter }}" />
{{- else }}
  <meta property="og:type" content="article" />
  <meta property="og:title" content="{{ $title.plain }}" />
  <meta name="twitter:title" content="{{ $title.plain }}" />
  <meta name="twitter:image" content="{{ $image }}" />
  <meta name="twitter:creator" content="@{{ $author.page.twitter }}" />
{{- end }}


<meta name="description" content="{{ $summary }}" />

{{- with $keywords }}
  <meta name="keywords" content="{{- . -}}" />
{{- end }}


<meta property="og:url" content="{{ $path.permalink }}" />
<meta property="og:description" content="{{ $summary }}" />
<meta property="og:image" content="{{ $image }}" />
<meta
  name="twitter:card"
  content="
    {{- if $s.largeTwitterCard -}}
    summary_large_image
  {{- else -}}
    summary
  {{- end -}}
  "
/>

{{/* If this is a directory of posts */}}
{{ if eq $context.section $s.blogDir -}}
  {{- $published := (time $date.published) -}}
  {{- $updated := "" -}}
  {{- with $date.updated -}}
    {{- $updated := (time $date.updated) -}}
  {{- end -}}
  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "BlogPosting",
      "mainEntityOfPage":"{{ $path.permalink }}",
      "name": "{{ $site.name }}",
      "headline": {{ $title.plain }},
      "description": {{ $summary }},
      "url": "{{ $path.permalink }}",
      "datePublished": {{ $published }},
      {{ with $updated -}}
      "dateModified": {{ . }},
      {{- end }}
      "author": {
        "@type": "Person",
        "name": "{{ $author.page.name }}",
        "image": "{{ $author.page.image }}",
        "email": "{{ $author.page.email }}"
      },
      "image":{
        "@type":"ImageObject",
        "url": "{{ $image }}"
      },
      "publisher": {
        "@type": "Organization",
        "logo": {
          "@type":"ImageObject",
          "url": "{{ $site.logo }}"
        },
        "name": "{{ $site.name }}",
        "license": "{{ $site.license }}"
      }
    }
  </script>
{{- end -}}

{{/* If this is the home page */}}
{{- if $context.ishome -}}
<script type="application/ld+json">
{
    "@context": "http://schema.org",
    "@type": "WebSite",
    "name": "{{ $site.name }}",
    "url": "{{ $site.url }}",
    "description": "{{ $site.desc }}",
    "thumbnailUrl": "{{ $site.logo }}",
    "license": "{{ $site.license }}"
}
</script>
{{- else -}}
  {{/* If this is an individual page or post */}}
<script type="application/ld+json">
{
    "@context": "http://schema.org",
    "@type": "BlogPosting",
    "articleSection": "{{ $context.section }}",
    "name": "{{ $title.plain | safeJS }}",
    "headline": "{{ $title.plain | safeJS }}",
    "description": "{{ $summary | safeJS }}",
    "inLanguage": {{ with $content.lang }}{{ . }}{{ else }}{{ $site.lang }}{{ end }},
    "isFamilyFriendly": "true",
    "mainEntityOfPage": {
        "@type": "WebPage",
        "@id": "{{ $path.permalink }}"
    },
    "author" : {
        "@type": "Person",
        "name": "{{ $author.page.name }}",
        "image": "{{ $author.page.image }}",
        "email": "{{ $author.page.email }}"
    },
    "creator" : {
        "@type": "Person",
        "name": "{{ $author.page.name }}",
        "image": "{{ $author.page.image }}",
        "email": "{{ $author.page.email }}"
    },
    "accountablePerson" : {
        "@type": "Person",
        "name": "{{ $author.page.name }}",
        "image": "{{ $author.page.image }}",
        "email": "{{ $author.page.email }}"
    },
    "copyrightNotice" : "{{ $site.copyright }}",
    "copyrightHolder" : "{{ $site.name }}",
    "license": "{{ $site.license }}",
    "copyrightYear" : "{{ dateFormat "2006" $date.published }}",
    "dateCreated": "{{ dateFormat "2006-01-02T15:04:05.00Z" $date.published | safeHTML }}",
    "datePublished": "{{ dateFormat "2006-01-02T15:04:05.00Z" $date.published | safeHTML }}",
    {{ with $date.updated -}}
    "dateModified": "{{ dateFormat "2006-01-02T15:04:05.00Z" . | safeHTML }}",
    {{- end }}
    "publisher":{
        "@type":"Organization",
        "name": {{ $site.name }},
        "url": {{ $site.url }},
        "logo": {
            "@type": "ImageObject",
            "url": "{{ $site.logo }}",
            "width": "32",
            "height": "32"
        }
    },
    "image": {{ with $image }}{{ . }}{{ else }}{{ $site.logo }}{{ end }},
    "url" : "{{ $path.permalink }}",
    "wordCount" : "{{ $content.wordcount }}",
    "genre" : [ {{ $keywords }} ],
    "keywords" : [ {{ $keywords }} ]
}
</script>
{{- end -}}
