{{/* Adding lastmod and date variables and markup to show a last-edited date.

  Wrapping date in permalink, microformat class, and time element (for indieweb).

  Inserting CATEGORIES section and separating out TAGS section.

  Removing 'writeSeparator' = true
*/}}
{{ $lastmod := .Lastmod.Format "2006-01-02" }}
{{ $date := .Date.Format "2006-01-02" }}
{{- $showShare := ne (.Param "showshare") false }}
{{- $showDate := ne (.Param "showdate") false }}
{{- $showReadTime := ne (.Param "showreadtime") false }}
{{- $showPostMeta := or ($showShare) ($showDate) ($showReadTime) (isset .Params "tags") }}
{{- $scratch := newScratch }}
{{- $scratch.Set "writeSeparator" false }}
{{- if $showPostMeta }}
  <div class="post_meta">
    {{- if $showDate }}
      <span class="post_date_icon">{{ partial "sprite" (dict "icon" "calendar") }}</span>
      <a class="u-url" href="{{ .Permalink }}" title="Permalink">
        <span class="post_date">
          <time class="dt-published">
            {{ .Date.Format (default "Jan 2, 2006" $.Site.Params.dateFormat) -}}
          </time>
          {{ if ne $lastmod $date }}
          </span></a>
            <span class="post_date__edit"
              >&nbsp;Edited on
              {{ .Lastmod.Format (default "Jan 2, 2006" $.Site.Params.dateFormat) }}&nbsp;</span
            >
          {{ else }}
        </span>
      </a>
      {{ end }}
    {{- end }}
    {{- if $showReadTime }}
      <span class="post_time"
        >{{ if ($scratch.Get "writeSeparator") }}
          ·
        {{ end }}{{ T "reading_time" . }}</span
      >
    {{- end }}

    {{/* CATEGORIES */}}
    {{- with .Params.categories -}}
      <span class="post_categories">
        {{- if ($scratch.Get "writeSeparator") }}&nbsp;·{{ end }}
        {{- range . }}
          {{- $tag := urlize . -}}
          <a
            href="{{ absLangURL (printf "categories/%s" $tag) }}"
            title="{{ humanize . }}"
            class="post_tag--cat post_tag button button_translucent"
          >
            {{- . }}
          </a>
        {{- end }}
      </span>
    {{- end }}

    {{/* TAGS */}}
    {{- with .Params.tags -}}
      <span class="post_tags">
        {{- if ($scratch.Get "writeSeparator") }}&nbsp;·{{ end }}
        {{- range . }}
          {{- $tag := urlize . -}}
          <a
            href="{{ absLangURL (printf "tags/%s" $tag) }}"
            title="{{ humanize . }}"
            class="post_tag button button_translucent"
          >
            {{- . }}
          </a>
        {{- end }}
      </span>
    {{- end }}

    {{- if $showShare }}
      <span class="page_only"
        >{{ if ($scratch.Get "writeSeparator") }}
          &nbsp;·
        {{ end }}{{ partial "share" . }}</span
      >
    {{- end }}

  </div>
{{- end }}
