{{/* 1. Adding lastmod and date variables and markup to show a last-edited date.

  2. Wrapping date in permalink, microformat class, and time element (for indieweb).

  3. Inserting categories and separating out tags, and validating both against our lists ($validCats, $validTags).

  4. Removing 'writeSeparator' = true

  5. Adding $metaClass to container.
*/}}
{{- $lastmod := .Lastmod.Format "2006-01-02" -}}
{{- $date := .Date.Format "2006-01-02" -}}
{{- $edited := false -}}
{{- if ne $lastmod $date -}}
  {{- $edited = true -}}
{{- end -}}
{{- $validCats := $.Site.Data.terms.categories -}}
{{- $validTags := $.Site.Data.terms.tags -}}
{{- $showShare := ne (.Param "showshare") false }}
{{- $showDate := ne (.Param "showdate") false }}
{{- $showReadTime := ne (.Param "showreadtime") false }}
{{- $showPostMeta := or ($showShare) ($showDate) ($showReadTime) (isset .Params "tags") }}
{{- $scratch := newScratch }}
{{- $scratch.Set "writeSeparator" false }}

{{ $metaClass := "" }}
{{- if eq (.Scratch.Get "withinRangeLoop") true }}
  {{ $metaClass = "post_meta--list" }}
{{- else }}
  {{ $metaClass = "post_meta--page" }}
{{- end }}
{{- if $showPostMeta }}
  <div class="post_meta {{ $metaClass }}">
    <span class="post_byline"
      >By
      <span class="p-author h-card"
        >{{ .Params.author | default .Site.Author.name }}</span
      ></span
    >
    {{- if $showDate }}
      {{- $getDate := partial "function/vars/getDate" . -}}
      <span class="post_date_icon"
        >{{ partial "sprite" (dict "icon" "calendar") }}</span
      >
      <a class="post_date u-url" href="{{ .Permalink }}" title="Permalink">
        <time datetime="{{ $getDate.publishedMicroformat }}">
          {{ .Date.Format (default "Jan 2, 2006" $.Site.Params.dateFormat) -}}
        </time>
        <time class="hidden-all dt-published">
          {{ $getDate.publishedMicroformat -}}
        </time>
      </a>
      {{- if eq $edited true }}
        <span class="post_date__edit"
          >&nbsp;Edited on
          {{ .Lastmod.Format (default "Jan 2, 2006" $.Site.Params.dateFormat) }}&nbsp;</span
        >
      {{- end }}
    {{- end }}
    {{- if $showReadTime }}
      <span
        class="
        post_time
        {{ if eq $edited true }}post-date-edited{{ end }}
      "
        >{{ if ($scratch.Get "writeSeparator") }}
          ·
        {{ end }}{{ T "reading_time" . }}</span
      >
    {{- end }}

    {{/* Display in lists */}}
    {{ if eq $metaClass "post_meta--list" }}
      {{/* CATEGORIES */}}
      {{- with .Params.categories -}}
        <span class="post_terms post_terms--cat">
          {{- if ($scratch.Get "writeSeparator") }}&nbsp;·{{ end }}
          {{- range . }}
            {{- $termName := . -}}
            {{- $termPath := urlize $termName -}}
            {{- if in $validCats $termName -}}
              <a
                href="{{ absLangURL (printf "categories/%s/" $termPath) }}"
                title="View content related to {{ $termName }}"
                class="post_term--cat post_term"
                >{{- $termName -}}</a
              >
            {{- else -}}
              {{ errorf "Category %q is invalid." $termName }}
            {{- end -}}
          {{- end }}
        </span>
      {{- end }}

      {{/* TAGS */}}
      {{- with .Params.tags -}}
        <span class="post_terms post_terms--tag">
          {{- if ($scratch.Get "writeSeparator") }}&nbsp;·{{ end }}
          {{- range . }}
            {{- $termName := . -}}
            {{- $termPath := urlize $termName -}}
            {{- if in $validTags $termName -}}
              <a
                href="{{ absLangURL (printf "tags/%s/" $termPath) }}"
                title="View content related to {{ $termName }}"
                class="post_term post_term--tag"
                >{{- $termName -}}</a
              >
            {{- else -}}
              {{ errorf "Tag %q is invalid." $termName }}
            {{- end -}}
          {{- end }}
        </span>
      {{- end }}

      {{/* SERIES */}}
      {{- with .Params.series -}}
        <span class="post_terms post_terms--series">
          {{- if ($scratch.Get "writeSeparator") }}&nbsp;·{{ end }}
          {{- range . }}
            {{- $termName := . -}}
            {{- $termPath := urlize $termName -}}
            <a
              href="{{ absLangURL (printf "series/%s/" $termPath) }}"
              title="View content in the series '{{ $termName }}'"
              class="post_term post_term--series"
              >{{- $termName -}}</a
            >
          {{- end }}
        </span>
      {{- end }}

    {{- end }}

    {{/* Display in full pages */}}
    {{ if eq $metaClass "post_meta--page" }}
      {{- if $showShare }}
        {{ if ($scratch.Get "writeSeparator") }}
          &nbsp;·
        {{ end }}{{ partial "share" . }}
      {{- end }}

    {{- end }}

  </div>
{{- end }}
