{{/* This file has been completely rewritten to allow for an array of series
  rather than a single string value.
*/}}
{{- $postPermalink := .Page.RelPermalink -}}
{{- range (.GetTerms "series") -}}
  {{- $series := .LinkTitle -}}
  {{- $posts := (index .Site.Taxonomies.series (urlize $series)).Pages -}}
  <nav class="post_series">
    <h3 class="post_series__title">{{ $series }}</h3>
    <ul class="post_series__list">
      {{- range $posts.ByDate }}
        <li
          class="
          post_series__list-item
          {{- if (eq .RelPermalink $postPermalink) }}
            post_series__list-item--current
          {{- end }}
        "
        >
          <a
            href="{{ .Permalink }}"
            class="
            post_series__link
            {{- if (eq .RelPermalink $postPermalink) }}
              post_series__link--current
            {{- end }}
          "
            title="{{ .Title }}"
            ><span class="post_series__link-title">{{ .Title }}</span
            ><span class="post_series__link-date"
              >{{ .Date.Format (default "Jan 2, 2006" $.Site.Params.dateFormat) }}</span
            ></a
          >
        </li>
      {{- end }}
    </ul>
  </nav>
{{- end -}}
