// Skills (within "About me")

.skills {
  width: 220px;
  margin: 100px auto;

  @include mq(mediumish) {
    width: auto;
    max-width: 540px;
  }

  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

.skills__unit {
  width: 220px;
  float: left;

  @include mq(mediumish) {
    width: 270px;
  }
}

.skills__label {

}

.skills__icons {
  font-size: 0;
  margin: 3px 0 30px;
}

.skills__level {
  display: inline-block;
  height: 14px;
  width: 14px;
  background-color: $color-secondary;
  margin-right: 8px;
  border-radius: 50%;
}

.skills--1 .skills__level:nth-child(n+2),
.skills--2 .skills__level:nth-child(n+3),
.skills--3 .skills__level:nth-child(n+4),
.skills--4 .skills__level:nth-child(n+5),
.skills--5 .skills__level:nth-child(n+6),
.skills--6 .skills__level:nth-child(n+7),
.skills--7 .skills__level:nth-child(n+8),
.skills--8 .skills__level:nth-child(n+9),
.skills--9 .skills__level:nth-child(n+10),
.skills--10 .skills__level:nth-child(n+11) {
  background: $color-tertiary;
}
