# Hugo compiled site
hugo/public
hugo/public/*

# Hugo caches
hugo/resources/_gen
hugo/resources/_gen/*
hugo/.hugo_build.lock

# Trash
$RECYCLE.BIN/
.Trashes
Network Trash Folder
.Trash-*
.nfs*

# Temporary files
.TemporaryItems
Temporary Items
.fuse_hidden*
*~
*.swp
*.swo

# Folder view configuration files
.DS_Store
.AppleDouble
.LSOverride
Desktop.ini
.directory

# Thumbnail cache files
._*
Thumbs.db
ehthumbs.db

# Folder view configuration files
.DS_Store
.AppleDouble
.LSOverride
Desktop.ini
.AppleDesktop

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.VolumeIcon.icns
.AppleDB
.apdisk

# Sass caches and maps
.sass-cache/
*.css.map
*.sass.map
*.scss.map
