// Styles for elements appearing within a post's body.

.post_body {
  font-size: 1.3333rem;
  line-height: 1.5;

  a:not(.icon, .footnote-ref, .footnote-backref) {
    font-weight: bold;
    border-bottom: 1px currentColor dotted;
    @include switch(--bg-h, 50%, 100%);
    @include switch(--bg-ct, var(--light), var(--light));
    @include switch(--bg-cb, var(--pale-green), var(--light));
    background: linear-gradient(0deg, var(--bg-cb), var(--bg-ct)) no-repeat right bottom / 0 var(--bg-h);
    @include motion(transition, background-size 600ms, color 750ms);

    @include is-on {
      background-size: 100% var(--bg-h);
      background-position-x: left;
      @include switch(color, var(--dark-green), var(--dark-green));
      @include switch(border-bottom-color, var(--themedark), var(--light));
    }
  }

  a.footnote-ref {
    padding: 0 0.1rem;
    font-size: 0.9rem;
    font-weight: bold;

    @include is-on {
      @include switch(color, var(--dark-green), var(--light));
    }
  }

  a.footnote-backref {
    padding: 0.125rem 0.3333rem;
    @include switch(color, var(--white), var(--bright-green));
    @include switch(background-color, var(--bright-green), var(--dark-shade));
    border-radius: 50%;
    border-width: 1px;
    border-style: solid;
    @include switch(border-color, var(--bright-green), var(--white));

    @include is-on {
      @include switch(background-color, var(--dark-green), var(--white));
      @include switch(color, var(--white), var(--dark-green));
      @include switch(border-color, var(--dark-green), var(--white));
    }
  }

  strong {
    font-weight: bold;
  }

  th {
    text-align: left;
  }

  kbd {
    margin: 0 0.1rem;
    padding: 0 0.25rem;
    border-radius: 0.25rem;
    @include switch(background-color, var(--shade), var(--translucent-lighter));
    @include switch(color, var(--dark), var(--light));
  }

  mark {
    margin: 0 0.1rem;
    padding: 0 0.25rem;
    border-radius: 0.25rem;
    background-color: var(--theme);
    color: var(--white);
  }
}
