// Elements appearing within a post's body

.post_content .post_body {
  font-family: var(--content-font);
  font-size: clamp(1.15rem, 5vw, 1.5rem);
  line-height: 1.75;

  p {
    margin: clamp(1.25rem, 5vw, 2.25rem) 0;
    padding: 0;
  }

  strong {
    font-weight: bold;
  }

  em {
    font-style: italic;
  }

  strong em,
  em strong {
    font-weight: bold;
    font-style: italic;
  }

  blockquote {
    margin: clamp(1.25rem, 10vw, 2.25rem) 0;
    padding: 0.01rem clamp(0.2rem, 2vw, 1.5rem) 0.01rem
      clamp(0.5rem, 5vw, 1.5rem);
    background-color: var(--post-bg);
    color: var(--text);

    > p {
      margin: clamp(1.25rem, 5vw, 2.25rem) 0;
      padding: 0;
    }
  }

  hr {
    opacity: 0.8;
    margin: 1rem 0;
    border: none;
    height: 100px;
    @include switch(background-color, var(--dark-green), var(--white));
    mask-image: url('../icons/plant-divider.svg');
    -webkit-mask-position: bottom;
    mask-position: bottom;
    -webkit-mask-size: contain;
    mask-size: contain;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
  }

  th {
    text-align: left;
  }

  ol,
  ul,
  dl {
    margin: 0.8rem 0 0.8rem 1.6rem;
    padding: 0;
  }

  dt {
    font-weight: bold;
  }

  kbd {
    margin: 0 0.1rem;
    padding: 0 0.25rem;
    border-radius: 0.25rem;
    @include switch(background-color, var(--shade), var(--translucent-lighter));
    @include switch(color, var(--dark), var(--light));
  }
}
