.post_content {
  margin-top: 0;

  @include bp(sm) {
    margin-left: var(--logo-descender-width);
  }

  .tree {
    @include fullcontent;
    overflow: hidden;
    z-index: -10;
    margin-top: 1rem;
    margin-bottom: 0;

    @media screen and (min-width: $single-column-breakpoint) {
      @include undofull;
      margin-bottom: -10rem;
      background-color: transparent;
    }

    &--roots {
      border-top-width: 1px;
      border-top-style: solid;
      @include switch(border-top-color, var(--dark-brown), var(--text));
    }
  }
}
