// Permalinks automatically inserted alongside headings within a post

.post_body {
  h3 {
    font-size: 2.5rem;
  }

  h4 > span {
    display: inline-block;
    border-bottom: 1px currentColor dotted;
  }

  .link_owner {
    font-style: italic;

    em {
      font-weight: bold;
      font-style: normal;
    }

    // Labeling automated subheading links
    .link.icon {
      position: relative;
      color: inherit;
      border-bottom: none;
      border-radius: 100%;
      background-color: var(--light);
      background-image: url('../icons/link.svg');
      vertical-align: middle;
      @include motion(transition-duration, 500ms);
      @include motion(width, 0);

      .permalink {
        position: absolute;
        top: 0;
        display: inline-block;
        font-family: var(--font);
        font-size: 0.9rem;
        line-height: 1;
        font-weight: normal;
        font-style: normal;
        text-transform: uppercase;
        @include motion(transition, width opacity padding);
        @include motion(transition-duration, 750ms);
        @include motion(width, 0);
        @include motion(overflow, clip);
        @include motion(opacity, 0);
      }
    }

    @include is-on {
      .link.icon {
        width: 1rem;

        .permalink {
          width: auto;
          overflow: visible;
          padding-left: 6rem;
          opacity: 1;

          @include is-on {
            text-decoration: underline;
          }
        }
      }
    }
  }
}
