// Permalinks automatically inserted alongside headings within a post.

.post_body {
  .link_owner {
    // When subheading links are clicked, we slide them down below the fixed header.
    // https://developer.mozilla.org/en-US/docs/Web/CSS/scroll-margin-top
    scroll-margin-top: 4rem;

    // Labeling automated subheading links
    .link.icon {
      color: inherit;
      border-bottom: none;

      &::after {
        content: 'Permalink';
        position: relative;
        top: 0;
        display: inline-block;
        padding-left: 6rem;
        line-height: 1;
        font-size: 0.9rem;
        font-weight: normal;
        text-transform: uppercase;
      }
    }
  }
}
