// Images appearing within posts

.post_content {
  .image-scale {
    background-color: var(--shadedark);
  }

  .image_figure {
    margin-top: 0;
    line-height: 1;
  }

  .post_body {
    img {
      margin-bottom: 0;
    }

    figure {
      margin: clamp(1.25rem, 5vw, 2.25rem) 0;
      text-align: center;

      > img {
        margin-bottom: 0;
      }
    }

    .img_alt {
      padding-bottom: 0;
      font-size: 1.15rem;
      opacity: 0.9;
    }
  }
}
