// Post meta includes:
// - date icon (calendar)
// - posted-on date
// - edited-on date
// - readtime
// - categories
// - tags
// - share links

.post_content,
.excerpt_header {
  // Meta section on both full posts and in lists of posts
  .post_meta {
    position: relative;
    width: 100%;
    align-items: center;
    margin: 1rem 0;
    padding: 0;
    font-size: 1.1rem;
    line-height: 1;
    background-color: var(--post-bg);

    &::before,
    &::after {
      content: '';
      position: relative;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      width: 100%;
    }

    &::before {
      height: 0.25rem;
      margin-bottom: 1rem;
      border-radius: 0.5rem 0.5rem 0 0;
    }

    &::after {
      height: 0.25rem;
      margin-top: 1rem;
      border-radius: 0 0 0.5rem 0.5rem;
    }

    .post_byline,
    .post_date_icon,
    .post_date,
    .post_date__edit,
    .post_time,
    .post_categories,
    .post_tags,
    .post_share {
      display: inline-flex;
      flex-flow: row wrap;
      gap: 0.5rem 0;
      align-items: center;
      margin-bottom: 0;
    }

    .post_byline {
      @include hidden-visually;

      .p-author {
        margin: 0 0 0 0.25rem;
      }
    }

    .post_date {
      margin: 0;
      @include is-on(text-decoration, underline);

      time {
        margin: 0;
      }
    }

    .post_date__edit {
      flex-basis: 100%;
      justify-content: center;
      margin: 0.25rem 0 0.5rem 0.25rem;
      font-size: 0.8rem;
      font-style: italic;

      @include breakat(sm) {
        flex-basis: auto;
        justify-content: flex-start;
        margin: 0.2rem 0 0 0.5rem;
      }
    }

    .post_time {
      margin: 0 0 0 1rem;

      &.post-date-edited {
        margin: 0.5rem 0 0 1.5rem;

        @include bp-xs-up {
          margin-top: 0;
        }
      }
    }

    // When appearing in lists of posts
    &--list {
      margin: 0;
      border-radius: 0.5rem;
      justify-content: flex-start;

      &::before,
      &::after {
        background-color: transparent;
      }

      .post_byline,
      .post_date_icon,
      .post_categories,
      .post_tags {
        padding-left: 1rem;
      }

      .post_categories,
      .post_tags {
        margin: 0;
        gap: 0 0.75rem;

        .post_tag.post_tag {
          gap: 0;
          margin: 0.5rem;
          font-size: 0.95rem;
        }
      }
    }

    // When appearing on full-page posts
    &--page {
      margin-top: 0;
      padding-top: 1rem;
      justify-content: flex-start;

      @include bp-s-up {
        justify-content: center;
      }

      &::before {
        display: none;
      }

      &::after {
        background-image: var(--g-green);
      }

      .post_date_icon {
        margin-left: 1rem;

        @include bp-s-up {
          margin-left: 0;
        }
      }

      .post_categories {
        margin-top: 0.75rem;

        @include bp-s-up {
          margin-top: 0;
        }
      }

      .post_share {
        margin: 1.5rem;

        > a {
          display: inline-block;
          opacity: 0.75;
          @include is-on(opacity, 1, 0.75);
          @include focus-line(map-get($color, bright-green));

          &:first-child {
            padding-left: 0.25rem;
          }

          > .icon {
            width: 1rem;
            height: 1rem;
            margin-top: -0.15rem;
            @include switch(fill, var(--black), var(--light));
          }
        }
      }
    }
  }
}
