// Post meta includes:
// - date icon (calendar)
// - posted-on date
// - edited-on date
// - readtime
// - categories
// - tags
// - share links

.post_content .post_meta {
  width: 100%;
  align-items: center;
  justify-content: center;
  margin: 1rem 0;
  padding: 1rem;
  font-size: 1rem;
  line-height: 1;
  @include switch(background-color, var(--white), var(--post-bg));

  @media screen and (min-width: $single-column-breakpoint) {
    margin: 1rem 0;
    padding: 1rem;
    justify-content: flex-start;
  }

  > span,
  > .page_only,
  > a {
    display: inline-flex;
    flex-flow: row wrap;
    gap: 0.5rem 0;
    align-items: center;
    margin-bottom: 0;
    height: 2rem;
  }

  .post_byline {
    @include hidden-visually;
    font-size: 0.9rem;

    .p-author {
      margin: 0;
    }
  }

  .post_date {
    margin: 0;

    time {
      margin: 0;
    }
  }

  .post_date__edit {
    margin: 0;
    font-size: 0.8rem;
    font-style: italic;
  }

  .post_time {
    margin: 0 0 0 1rem;
  }

  .post_categories,
  .post_tags {
    margin: 0 0.5rem 0;

    .post_tag {
      margin-top: 0;
    }
  }

  .post_share {

    > a {
      display: inline-block;
      opacity: 0.75;

      &:first-child {
        padding-left: 0.25rem;
      }

      @include is-on {
        opacity: 1;
      }

      > .icon {
        width: 1rem;
        height: 1rem;
        margin-top: -0.15rem;
      }
    }
  }
}
