// Display of posts in a series at the bottom of each member post.

.post_content .post_series {
  --border: 0.25rem;
  position: relative;
  margin: calc(var(--border) + 2rem) var(--border);
  padding: 0.5rem;
  border-radius: 0.25rem;
  @include switch(background-color, var(--bright-light), var(--dark-shade));

  &::before {
    content: '';
    position: absolute;
    top: calc(var(--border) * -1);
    bottom: calc(var(--border) * -1);
    left: calc(var(--border) * -1);
    right: calc(var(--border) * -1);
    border-radius: 0.5rem;
    background: var(--g-rainbow);
    z-index: -1;
  }

  &__title {
    margin: -0.5rem 0 0;
    padding: 0;
    @include switch(color, var(--black), var(--white));
    border-bottom: 1px solid currentColor;
  }

  &__list {
    margin: 0 0 0 1.75rem;
    padding: 0;
    list-style-type: none;
    font-family: var(--font);
    color: var(--dark-shade);
    @include switch(color, var(--dark-shade), var(--light));
  }

  &__list-item {
    margin: 0.75rem 0;
    padding: 0;

    &::before {
      display: inline-block;
      margin-left: -1.5rem;
      width: 1.25rem;
      content: '☙';
      transition: all ease-in-out 400ms;
    }

    @include is-on {
      &::before {
        @include switch(color, var(--pink));
        @include motion(translate, -0.25rem);
      }
    }

    &--current {
      &::before {
        @include switch(color, var(--pink));
      }

      @include is-on {
        &::before {
          translate: none;
        }
      }
    }
  }

  &__link:not(.button) {
    padding: 0.25rem 0.25rem 0.25rem 0;
    color: inherit;
    @include fancy-highlight(
      $light_bottom: var(--hazy-white),
      $light_top: var(--hazy-white),
      $dark_bottom: var(--dark-shade),
      $dark_top: var(--dark-shade),
      $light_height: 100%,
      $dark_height: 100%
    );

    @include is-on {
      @include switch(color, var(--black), var(--white));
    }
  }

  .content &__link--current:not(.button) {
    @include switch(background-color, var(--hazy-white), var(--dark-shade));
    @include switch(--bg-ct, var(--hazy-white), var(--dark-shade));
    @include switch(--bg-cb, var(--hazy-white), var(--dark-shade));
  }

  &__link-title {
    display: inline;
    margin-right: 0.5rem;
    font-family: var(--content-font);
    font-style: italic;
    font-size: 1.25rem;
    line-height: 1.5;
  }

  &__link-date {
    display: inline-block;
    font-size: 0.9rem;
    line-height: 1.5;
  }
}
