.post_title {
  position: relative;
  margin: 0.5rem 0 0;
  padding: 0;
  background: var(--g-greenblue);
  font-size: clamp(2.5rem, 5vw, 3rem);

  .post_featured {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0;

    &__bg {
      --blur: 1.5rem;
      position: absolute;
      display: block;
      z-index: -1;
      width: calc(100vw + (2 * var(--blur)));
      height: calc(100% - (2 * var(--blur)));
      left: 50%;
      right: 50%;
      margin: var(--blur) calc(-50vw - var(--blur)) 0;
      background-size: 100% 100%;
      filter: blur(var(--blur));
    }

    figure,
    picture {
      height: 100%;
      text-align: center;
    }

    .image_featured {
      margin: 0 !important; // Overriding parent theme !important
      width: 100%;
      height: 100%;
      object-fit: cover;
      font-size: 0; // Hide alt text if image is delayed loading
    }

    .caption_featured {
      @include hidden-all;
    }
  }

  .post_title__text {
    display: block;
    position: relative;
    margin: 0;
    padding: 1rem;
    color: var(--white);
    text-shadow: 2px 2px 0 var(--dark-shade), 3px 3px 0 var(--dark-shade),
      -1px -1px 0 var(--dark-shade), 1px -1px 0 var(--dark-shade),
      -1px 1px 0 var(--dark-shade), 1px 1px 0 var(--dark-shade);
    z-index: 10;

    @include bp-s-up {
      padding: 2rem;
    }

    &.shaded {
      background-color: var(--shade);
    }
  }
}
