// This file will eventually cease to exist. All styles have been dumped in here and slowly will
// be extracted into separate component files.

.to_top.to_top,
.to_top.to_top.ios.ios {
  background-color: var(--themedark);
}

// TYPOGRAPHY //

body {
  line-height: 1;
}

h1,
h2,
h3 {
  font-weight: 800;
}

.list_title {
  // Page titles, when they appear on a list (like archives)
  // grid-column-end: span 2;
}

// LINKS //

a {
  transition: color background-color opacity text-decoration border-bottom-width;
  @include motion(transition-duration, 500ms);
}

// PAGE WRAPPER

.content {
  padding-top: var(--logo-height);

  @media screen and (min-width: $single-column-breakpoint) {
    padding-top: 5rem;
  }
}

// SIDEBAR

.sidebar_inner li {
  line-height: 1.35;

  .nav-link {
    @include is-on {
      text-shadow: 0px 0px 1px var(--text);
    }
  }
}
