// This file will eventually cease to exist. All styles have been dumped in here and slowly will
// be extracted into separate component files.

.button.button {
  padding-top: 0.55rem;
  font-weight: bold;
}

.post_link {
  margin-top: 0;
  padding-top: 0;
}

.excerpt_footer.excerpt_footer {
  padding-bottom: 1.333rem;

  .excerpt_more {
    margin-top: -0.5rem;
  }
}

.post_tag.post_tag {
  margin-top: 0.25rem;
  padding-top: 0.25rem;
  font-weight: normal;

  &.post_tag--cat {
    font-weight: bold;
    background-color: var(--light);
    border-color: var(--theme);

    @include is-on {
      color: var(--themedark);
    }

    @include darkmode {
      background-color: var(--translucent);
      border-color: var(--theme);

      @include is-on {
        color: var(--hazy-white);
      }
    }
  }

  & .button_tally {
    margin-left: 0.5rem;
    padding: 0.2rem 0.75rem;
  }
}

.sidebar_inner.sidebar_inner::before,
html[data-mode='dim'].sidebar_inner.sidebar_inner::before {
  content: '';
  padding: 0.5px;
  top: 0;
  bottom: 0;
  background: linear-gradient(to bottom, var(--theme), var(--light));
  position: absolute;
  left: -2rem;
}

.to_top.to_top,
.to_top.to_top.ios.ios {
  background-color: var(--themedark);
}

// TYPOGRAPHY //

body {
  line-height: 1;
}

h1,
h2,
h3 {
  font-weight: 800;
}

.list_title {
  // Page titles, when they appear on a list (like archives)
  // grid-column-end: span 2;
}

// LINKS //

a {
  transition: color background-color opacity text-decoration border-bottom-width;
  @include motion(transition-duration, 500ms);
}

// PAGE WRAPPER

.content {
  padding-top: var(--logo-height);

  @media screen and (min-width: $single-column-breakpoint) {
    padding-top: 5rem;
  }
}

// SIDEBAR

.sidebar_inner li {
  line-height: 1.35;

  .nav-link {
    @include is-on {
      text-shadow: 0px 0px 1px var(--text);
    }
  }
}
