// Author, when it appears on a post

.author_header > img {
  border-radius: 100%;
}

// Author, when it appears on the home page

.home_bio {
  display: grid;
  grid-template-columns: 8rem 1fr;
  grid-gap: 1rem;
  margin: 1rem 0 2rem;

  h1 {
    position: relative;
    margin: 0 0 0.5rem;

    &::before {
      z-index: -1;
      position: absolute;
      bottom: 0;
      left: -5rem;
      display: block;
      content: '';
      width: 0;
      height: 2px;
      background-color: var(--theme);
      transition-delay: 500ms;
      transition-timing-function: ease-in-out;
      @include motion(transition-duration, 750ms);

      @include darkmode {
        background-color: var(--light);
      }
    }
  }

  .button {
    margin-top: 0.2rem;
    padding: 0.1rem 0.5rem;
    border: 2px var(--bg) solid;
  }

  .img_wrap {
    position: relative;
    display: inline-block;
    margin: 0;
    padding: 0;
    overflow: visible;
    transition-delay: 500ms;
    @include motion(transition-duration, 750ms);

    #blob {
      path {
        d: var(--path1);
        transition-timing-function: ease-in-out;
        @include motion(transition-duration, 750ms);
      }
    }

    img {
      --image-size: 128px;
      margin: calc(var(--image-top-pad) * -1) 0 0
        calc(var(--image-left-pad) * -1);
      padding: var(--image-top-pad) 0 0 var(--image-left-pad);
      max-width: var(--image-size);
      clip-path: url(#blob);
    }
  }

  @include is-on {
    .img_wrap {
      $b: var(--image-on-border);
      $bn: calc(var(--image-on-border) * -1);
      $b2: calc(var(--image-on-border) * 15);
      $bc: lighten(#002714, 75%);
      $bc2: lighten(#002714, 25%);
      $bc3: lighten(#002714, 15%);
      $bc4: lighten(#002714, 5%);

      filter: drop-shadow($b 0 0 $bc) drop-shadow($bn 0 0 $bc)
        drop-shadow(0 $b 0 $bc) drop-shadow(0 $bn 0 $bc)
        drop-shadow($b $b 0 $bc) drop-shadow($bn $bn 0 $bc)
        drop-shadow($b $bn 0 $bc) drop-shadow($bn $b 0 $bc)
        drop-shadow(0 $b2 0 $bc2) drop-shadow(0 $b2 0 $bc3)
        drop-shadow(0 $b2 0 $bc4);
      transition-delay: 350ms;

      @media (prefers-reduced-motion: no-preference) {
        transition-duration: 1s;
      }

      #blob {
        path {
          d: var(--path2);
        }
      }
    }

    h1::before {
      width: calc(100% + 5rem);
    }

    .button {
      border-color: var(--theme);

      @include darkmode {
        border-color: var(--light);
      }
    }
  }
}
