// HTML element styles

html body {
  line-height: 1;

  h1 {
    font-size: 3rem;
    font-weight: bold;
    line-height: 1.2;
  }

  h2 {
    font-size: 2.25rem;
    font-weight: bold;
  }

  h3 {
    font-size: 2rem;
    font-weight: bold;
  }
}
