// CODE HIGHLIGHTING

%standard-code {
  margin: 0;
  padding: 0;
  font-size: 1.15rem;
  --inlineColor: var(--light);
  @include switch(background-color, transparent, transparent);
}

.highlight,
.highlight_wrap {
  @extend %standard-code;
}

code,
code.noClass {
  margin: 0 0.1rem;
  padding: 0 0.05rem;
  @include switch(--inlineColor, var(--black), var(--light));
  @include switch(background-color, var(--shade), var(--shade));

  pre &,
  .highlight &,
  .highlight_wrap & {
    @extend %standard-code;
  }

  // Inline code
  p &,
  td & {
    padding: 0.2rem;
    border-radius: 0.2rem;
    --inlineColor: var(--black);
    @include switch(background-color, var(--shade), var(--dark-shade));
  }
}

.highlight_wrap {
  .panel_box {
    margin-right: 1rem;
    border-radius: 0.5rem 0.5rem 0 0;

    a {
      border-bottom: none;
    }

    svg {
      fill: var(--white);
    }
  }

  .panel_expand {
    color: var(--white);
  }
}

.highlight {
  scrollbar-width: thin;
  @include switch(scrollbar-color, var(--medium-green) var(--dark-green), var(--light) var(--medium-green));

  code,
  .hljs {
    color: var(--white);
  }

  .cp,
  .cpf {
    color: lighten(#cd2828, 20%);
  }

  .p,
  .nt,
  .hljs-string {
    color: var(--medium-green);
  }
}
