// CODE HIGHLIGHTING

.post_body code.noClass {
  margin: 0 0.1rem;
  padding: 0 0.05rem;
  @include switch(--inlineColor, var(--black), var(--light));
  @include switch(background-color, var(--shade), var(--translucent-lighter));

  pre &,
  .highlight &,
  .highlight_wrap & {
    margin: 0;
    padding: 0;
    --inlineColor: var(--light);
    @include switch(background-color, transparent, transparent);
  }
}

.highlight_wrap {
  .panel_box {
    margin-right: 1rem;
    border-radius: 0.5rem 0.5rem 0 0;

    a {
      border-bottom: none;
    }

    svg {
      fill: var(--white);
    }
  }

  .panel_expand {
    color: var(--white);
  }
}

.highlight {
  scrollbar-width: thin;
  @include switch(scrollbar-color, var(--medium-green) var(--dark-green), var(--light) var(--medium-green));

  code,
  .hljs {
    color: var(--white);
  }

  .cp,
  .cpf {
    color: lighten(#cd2828, 20%);
  }

  .p,
  .nt,
  .hljs-string {
    color: var(--medium-green);
  }
}
