// CODE HIGHLIGHTING

code.noClass {
  margin: 0 0.1rem;
  padding: 0 0.05rem;
  @include switch(--inlineColor, var(--dark), var(--light));
  @include switch(background-color, var(--shade), var(--translucent-lighter));

  pre &,
  .highlight &,
  .highlight_wrap & {
    margin: 0;
    padding: 0;
    --inlineColor: var(--light);
    @include switch(background-color, transparent, transparent);
  }
}

.highlight {
  scrollbar-width: thin;
  @include switch(scrollbar-color, var(--medium-green) var(--dark-green), var(--light) var(--medium-green));

  code,
  .hljs {
    color: var(--white);
  }

  .cp,
  .cpf {
    color: lighten(#cd2828, 20%);
  }

  .p,
  .nt,
  .hljs-string {
    color: var(--medium-green);
  }
}
