// <main> element, which wraps the primary content of the page

.content.content {
  padding-top: var(--logo-height);
  padding-bottom: 0;
  padding-left: var(--page-padding);
  padding-right: var(--page-padding);
  overflow-x: hidden; // preventing scrolling for full-widthed items

  @include bp-l-up {
    padding-top: 5rem;
    overflow-x: initial;
  }
}

.content.grid-inverse {
  grid-template-columns: min-content minmax(75%, 1fr) auto;

  @include bp-l-up {
    grid-template-columns: 75% 1fr;
    grid-column-gap: 3rem;
  }
}
