// <main> element, which wraps the primary content of the page

.content.content {
  padding-top: var(--logo-height);
  padding-left: var(--page-padding);
  padding-right: var(--page-padding);

  @include bp(sm) {
    padding-top: 5rem;
  }
}

.content.grid-inverse {
  @include bp(sm) {
    grid-template-columns: 65% 1fr;
    grid-column-gap: 3rem;
  }
}
