// <main> element, which wraps the primary content of the page

.content.content {
  padding-top: var(--logo-height);
  padding-bottom: 0;
  padding-left: var(--page-padding);
  padding-right: var(--page-padding);
  overflow-x: hidden; // preventing scrolling for full-widthed items

  @include breakat(sm) {
    padding-top: 5rem;
    overflow-x: initial;
  }
}

.content.grid-inverse {
  @include breakat(sm) {
    grid-template-columns: 70% 1fr;
    grid-column-gap: 3rem;
  }
}
