// Lists of posts

.posts {
  margin-top: 0;

  @media screen and (min-width: $single-column-breakpoint) {
    margin-left: var(--logo-descender-width);
  }
}

// Excerpts of posts appearing in lists

.excerpt {
  font-size: 1.3333rem;
  line-height: 1.5;

  .excerpt_header {
    .post_link {
      margin: 0 0 1rem;
      padding-top: 0;
      @include fancy-highlight(
        $light_bottom: var(--bright-green),
        $light_top: var(--bright-green),
        $dark_bottom: var(--light),
        $dark_top: var(--light),
        $light_height: 3px,
        $dark_height: 3px
      );
    }

    .post_byline {
      @include hidden-visually;
    }
  }

  .excerpt_thumbnail {
    display: block;
    margin-bottom: 1rem;

    figure {
      text-align: center;
    }
  }

  .excerpt_footer.partition {
    display: grid;

    @media screen and (min-width: $mobile-menu-breakpoint) {
      grid-template-columns: 4fr 7fr;
      grid-gap: 1rem;
    }
  }

  .excerpt_footer {
    padding-bottom: 1.333rem;

    p {
      line-height: 1.5;

      &:first-child {
        padding-top: 0;
      }
    }

    .excerpt_more {
      position: relative;
      margin-top: -0.5rem;
      font-weight: bold;
      background-color: darken(map-get($color, bright-green), 12%);
      border-width: 0;
      // border-radius: 0;
      z-index: 1;

      &::before {
        position: absolute;
        content: '';
        bottom: 0.6666rem;
        left: 1.5rem;
        right: 1.5rem;
        border-bottom: 2px solid currentColor;
        transition: all 0.25s ease-in-out;
        z-index: 2;
      }

      &::after {
        position: absolute;
        content: '';
        top: -0.25rem;
        bottom: -0.25rem;
        left: -0.25rem;
        right: -0.25rem;
        border: 3px transparent solid;
        background-color: transparent;
        transition: all 0.5s ease-in-out;
        z-index: -1;
      }

      @include is-on {
        background-color: var(--bright-green);
        border-radius: 0;

        &::before {
          left: 50%;
          right: 50%;
          opacity: 0;
        }

        &::after {
          background-color: darken(map-get($color, bright-green), 20%);
          border-color: var(--bright-green);
          @include switch(box-shadow, 4px 4px var(--pale-green), 4px 4px darken(map-get($color, bright-green), 12%));
        }
      }
    }
  }
}
