// Lists of posts

.posts {
  margin-top: 0;

  @media screen and (min-width: $single-column-breakpoint) {
    margin-left: var(--logo-descender-width);
  }
}

// Excerpts of posts appearing in lists

.excerpt {
  font-size: 1.3333rem;
  line-height: 1.5;

  .excerpt_header {
    .post_link {
      margin: 0 0 1rem;
      padding-top: 0;
      @include fancy-highlight(
        $light_bottom: var(--bright-green),
        $light_top: var(--bright-green),
        $dark_bottom: var(--light),
        $dark_top: var(--light),
        $light_height: 5%,
        $dark_height: 2.5%
      );
    }

    .post_byline {
      @include hidden-visually;
    }
  }

  .excerpt_footer {
    padding-bottom: 1.333rem;

    p {
      line-height: 1.5;

      &:first-child {
        padding-top: 0;
      }
    }

    .excerpt_more {
      margin-top: -0.5rem;
      font-weight: bold;
      background-color: darken(map-get($color, bright-green), 12%);
      border-color: darken(map-get($color, bright-green), 12%);

      @include is-on {
        background-color: darken(map-get($color, bright-green), 20%);
        border-color: darken(map-get($color, bright-green), 20%);
      }
    }
  }
}
