// SIDEBAR

.sidebar {
  .sidebar_inner {
    .author_bio {
      font-size: 1.2rem;
      line-height: 1.3333;
    }

    li {
      font-size: 1.2rem;
      line-height: 1.3333;

      .nav-link {
        @include is-on {
          text-shadow: 0px 0px 1px var(--text);
        }
      }
    }

    &::before {
      display: block;
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      left: -2rem;
      width: 1px;
      padding: 0;
      background: linear-gradient(to bottom, var(--theme), var(--white));

      @include darkmode {
        display: block;
        background: linear-gradient(to bottom, var(--theme), var(--bg));
      }
    }
  }
}
