// Sidebar container and children styles

.sidebar {
  margin: 2.5rem auto 0;
  max-width: calc(var(--max-content-width) - 10rem);

  @include bp-l-up {
    margin-top: 0;
  }

  .sidebar_inner {
    @include bp-l-up {
      // Divider
      &::before {
        display: block;
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: -1.5rem;
        width: 1px;
        padding: 0;
        background: linear-gradient(to bottom, var(--theme), var(--white));

        @include darkmode {
          display: block;
          background: linear-gradient(to bottom, var(--theme), var(--bg));
        }
      }
    }

    h3,
    summary {
      font-family: var(--heading-font);
      font-size: 1.75rem;
      line-height: 1.1;
      font-weight: bold;
      font-style: italic;
      color: var(
        --blue
      ); // For browsers that don't render the gradient color on the marker
      background: var(--g-greenblue);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    .author_header h3 {
      padding-top: 1.3333rem;
    }

    summary {
      padding: 0.25rem 0;
      border-bottom-width: 0.25rem;
      border-bottom-style: dotted;
      @include switch(border-bottom-color, var(--light), var(--pale-light));
      cursor: pointer;

      &::marker {
        font-size: 85%;
      }
    }

    details[open] summary {
      margin-bottom: 1rem;
      border-bottom-width: 0.5rem;
      @include switch(border-bottom-color, #fff, var(--dark-green));
    }

    details {
      margin: 1.5rem 0;
    }

    .author_bio {
      font-family: var(--content-font);
      font-size: 1.1rem;
      line-height: 1.3333;

      & + .button {
        position: relative;
        margin-top: 0.5rem;
        color: var(--hazy-white);
        background-color: var(--md-dark-green);
        border-width: 0;
        z-index: 1;

        &::before {
          position: absolute;
          content: '';
          bottom: 0.3333rem;
          left: 1.5rem;
          right: 1.5rem;
          border-bottom: 2px dotted currentColor;
          transition: all 0.25s ease-in-out;
          z-index: 2;
        }

        &::after {
          position: absolute;
          content: '';
          top: -0.25rem;
          bottom: -0.25rem;
          left: -0.25rem;
          right: -0.25rem;
          border: 3px transparent solid;
          background-color: transparent;
          transition: all 0.5s ease-in-out;
          z-index: -1;
        }

        @include is-on {
          background-color: var(--bright-green);
          border-radius: 0;

          &::before {
            left: 50%;
            right: 50%;
            opacity: 0;
          }

          &::after {
            background-color: darken(map-get($color, bright-green), 20%);
            border-color: var(--bright-green);
            @include switch(
              box-shadow,
              4px 4px var(--pale-green),
              4px 4px darken(map-get($color, bright-green), 12%)
            );
          }
        }
      }
    }

    ul {
      margin-left: 1.5rem;
      padding-left: 0;
      list-style-type: none;
    }

    li {
      padding-left: 0;
      font-family: var(--content-font);
      font-size: 1.1rem;
      line-height: 1.3333;

      &::before {
        display: inline-block;
        margin-left: -1.5rem;
        width: 1.25rem;
        content: '☙';
        transition: all ease-in-out 400ms;
      }

      @include is-on {
        &::before {
          @include switch(color, var(--bright-green));
          @include motion(translate, -0.25rem);
        }
      }

      .nav-link {
        @include fancy-highlight(
          $light_bottom: var(--translucent-green),
          $light_top: var(--translucent-green),
          $dark_bottom: var(--translucent-green),
          $dark_top: var(--translucent-green),
          $light_height: 100%,
          $dark_height: 100%
        );

        @include is-on {
          @include switch(color, var(--black), var(--white));
          @include focus(text-decoration, underline);
          @include focus(outline-offset, 0);
        }
      }
    }
  }
}
