// Skip-to-content accessibility link

.skip-to-content-link {
  position: absolute;
  height: 2rem;
  left: 50%;
  transform: translateY(-100%);
  transition-property: transform;
  transition-timing-function: ease-in-out;
  transition-duration: 0s;
  @include motion(transition-duration, 0.25s);
  z-index: 99999;
  padding: 0.25rem 0.5rem;
  background-color: var(--white);
  color: var(--dark-green);
  font-weight: bold;

  @include focus(transform, translateY(0%), translateY(-100%));
}
