// Tree image
//
// Also see posts/container for tree roots

.post_content .tree {
  max-width: var(--max-content-width);
  overflow: hidden;
  z-index: -10;
  margin: 0 auto -10rem;

  @media screen and (min-width: $single-column-breakpoint) {
    background-color: transparent;
  }

  svg {
    pointer-events: none;
    overflow: hidden;

    .treetop {
      @include switch(fill, var(--dark-green), var(--text));
    }

    .roots {
      @include switch(fill, var(--dark-brown), var(--text));
    }
  }

  &--full {
    svg {
      margin: 0;
    }
  }

  &--treetop {
    svg {
      margin-bottom: -100%;
    }
  }

  &--roots {
    svg {
      margin-top: -66%;
      margin-bottom: -5%;
    }
  }
}
