$green: #117e24;
$dkgreen: #5d8c7f;
$ltgreen: #d7fcea;
$brown: #45322b;

$black: #000;
$ltgrey: #999;
$grey: #666;
$dkgrey: #333;
$white: #fff;

$color-primary: $dkgreen;
$color-secondary: $green;
$color-tertiary: $ltgreen;

$text-color: $grey;
$page-color: $white;
