{{/* entify:

  Selectively transform particular characters into their HTML entities (rather
  than escaping all HTML). Useful for accented characters that break RSS feed
  parsers.
*/}}

{{- $html := htmlUnescape . | safeHTML -}}

{{- $chars := dict
  "À" "&Agrave;"
  "Á" "&Aacute;"
  "Â" "&Acirc;"
  "Ã" "&Atilde;"
  "Ä" "&Auml;"
  "Å" "&Aring;"
  "Æ" "&AElig;"
  "Ç" "&Ccedil;"
  "È" "&Egrave;"
  "É" "&Eacute;"
  "Ê" "&Ecirc;"
  "Ë" "&Euml;"
  "Ì" "&Igrave;"
  "Í" "&Iacute;"
  "Î" "&Icirc;"
  "Ï" "&Iuml;"
  "Ð" "&ETH;"
  "Ñ" "&Ntilde;"
  "Ò" "&Ograve;"
  "Ó" "&Oacute;"
  "Ô" "&Ocirc;"
  "Õ" "&Otilde;"
  "Ö" "&Ouml;"
  "Ø" "&Oslash;"
  "Œ" "&OElig;"
  "Š" "&Scaron;"
  "Ù" "&Ugrave;"
  "Ú" "&Uacute;"
  "Û" "&Ucirc;"
  "Ü" "&Uuml;"
  "Ý" "&Yacute;"
  "Ÿ" "&Yuml;"
  "Þ" "&THORN;"

  "à" "&agrave;"
  "á" "&aacute;"
  "â" "&acirc;"
  "ã" "&atilde;"
  "ä" "&auml;"
  "å" "&aring;"
  "æ" "&aelig;"
  "ç" "&ccedil;"
  "è" "&egrave;"
  "é" "&eacute;"
  "ê" "&ecirc;"
  "ë" "&euml;"
  "ì" "&igrave;"
  "í" "&iacute;"
  "î" "&icirc;"
  "ï" "&iuml;"
  "ð" "&eth;"
  "ñ" "&ntilde;"
  "ò" "&ograve;"
  "ó" "&oacute;"
  "ô" "&ocirc;"
  "õ" "&otilde;"
  "ö" "&ouml;"
  "ø" "&oslash;"
  "œ" "&oelig;"
  "š" "&scaron;"
  "ß" "&szlig;"
  "ù" "&ugrave;"
  "ú" "&uacute;"
  "û" "&ucirc;"
  "ü" "&uuml;"
  "ý" "&yacute;"
  "þ" "&thorn;"
  "ÿ" "&yuml;"

  "‘" "&lsquo;"
  "’" "&rsquo;"
  "‚" "&sbquo;"
  "“" "&ldquo;"
  "”" "&rdquo;"
  "„" "&bdquo;"
  "«" "&laquo;"
  "»" "&raquo;"

  "¢" "&cent;"
  "£" "&pound;"
  "¥" "&yen;"
  "€" "&euro;"
  "¤" "&curren;"

  "©" "&copy;"
  "®" "&reg;"
  "™" "&trade;"

  "¡" "&iexcl;"
  "¿" "&iquest;"

  "½" "&frac12;"
  "¼" "&frac14;"
  "¾" "&frac34;"

  "≠" "&ne;"
  "≥" "&ge;"
  "≤" "&le;"
  "−" "&minus;"
  "×" "&times;"
  "÷" "&divide;"
  "±" "&plusmn;"
  "°" "&deg;"
  "‰" "&permil;"
  "ƒ" "&fnof;"
  "µ" "&micro;"
  "≈" "&asymp;"
  "∞" "&infin;"
  "²" "&sup2;"
  "³" "&sup3;"

  "←" "&larr;"
  "→" "&rarr;"
  "↑" "&uarr;"
  "↓" "&darr;"
  "↔" "&harr;"

  "–" "&ndash;"
  "—" "&mdash;"
  "…" "&hellip;"
  "¶" "&para;"
  "•" "&bull;"
  "·" "&middot;"
  "§" "&sect;"
  "†" "&dagger;"
  "‡" "&Dagger;"
-}}

{{- range $char, $entity := $chars -}}
  {{- $html = replace $html $char $entity -}}
{{- end -}}

{{- return $html -}}
