{{/* getFeedPages:

  Retrieve an array of pages to be included in feeds.
*/}}

{{- $pages := (where .RegularPages "Type" "in" site.Params.mainSections) -}}
{{- if (eq .Kind "home") -}}
  {{- $pages = (where site.RegularPages "Type" "in" site.Params.mainSections) -}}
{{- end -}}
{{- $pages = where $pages ".Params.disable_feed" "!=" true -}}
{{- $pages = where $pages ".Params.unlisted" "!=" true -}}

{{- $limit := site.Config.Services.RSS.Limit -}}
{{- if ge $limit 1 -}}
  {{- $pages = $pages | first $limit -}}
{{- end -}}

{{- return $pages -}}
