/* Selection colors (easy to forget)
 * ------------------------------------  */
::selection {
  background: $ltgreen;
}

body {
  -webkit-tap-highlight-color: $ltgreen;
}

img::selection {
  background: transparent;
}
