/**
 * @file
 * Styles are organized using the SMACSS technique. @see http://smacss.com/book/
 */

/* Import Sass mixins, variables, fonts, etc. */
@import "init";

/* HTML element (SMACSS base) rules */
@import "normalize";

/* Layout rules */
@import "layouts/default";

/* Component (SMACSS module) rules */
@import "components/nav";
@import "components/post";
@import "components/link";
@import "components/image";
@import "components/divider";
@import "components/table";
@import "components/button";
@import "components/list";
@import "components/card";
@import "components/disqus";
/* Print styles should be the final component. */
@import "print";

/* Theming (in the SMACSS sense) */
@import "theme-soil/theme";

.end-nav {
  width: 100%;
  max-width: 49rem;
}

.pagination-nav {
  margin: 2em 0;
  width: 100%;
  max-width: 47rem;
}

.pagination-text {
  font-family: 'LatoLatinWebMedium';
}

.pagination-newer {
  float:left;
}

.pagination-older {
  float: right;
}

.muted-text {
  color: #7a7b7c;
}

.katex-display {
  margin: 1.5em 0;
  overflow-x: auto;
  overflow-y: hidden;
}

/* Medium devices (tablets, ~641px and up) */
@media only screen and (min-width: 40.063em) {
  body {
    font-size: 1.15rem;
  }

  .nav-bar {
    padding: 0.8em 0;
  }

  .list-header-title {
    font-weight: normal;
    font-size: 4.2em;
  }

  .card {
    border-radius: 0.2rem;
    /* margin: 2.5em 0; */
  }

  .blog-card {
    flex-direction: row;
    align-items: stretch;
  }

  .card-img {
    border-radius: 0.2rem 0 0 0.2rem;
    margin: 0;
    max-height: unset;
    height: 100%;
    width: 15em;
  }

  .card-img-overlay {
    border-radius: 0.2rem 0 0 0;
  }

  .card-body {
    padding: 1.5em 1.3em;
  }

  .card-title {
    font-size: 1.27em;
  }

  .card-text {
    font-size: 0.95em;
    margin: 1.2em 0;
  }

  .card-subtext {
    font-size: 0.7em;
  }

  .content {
    border-radius: 0.2rem;
  }

  .post {
    margin: 0 1em 2em 1em;
  }

  .post-title {
    font-size: 2.5em;
  }

  .button {
    border-radius: 0.2rem;
  }

  .smartfloat-right {
    float: right;
    margin: 0 0 1.5em 1.5em;
  }

  .smartfloat-left {
    float: left;
    margin: 0 1.5em 1.5em 0;
  }

  code {
    border-radius: 0.2rem;
  }

}
