// Override variables here. To add custom CSS, use _custom.scss

@import 'rootwork_mixins';
@import 'rootwork_variables';

.color {
  &_choice {
    &::after {
      background-image: url("#{$icons}sun.svg");

      @include darkmode {
        background-image: url("#{$icons}moon.svg");
      }
    }
  }
}

.nav_header {
  @include darkmode {
    background-color: var(--bgdark);
  }

  .jsopen.jsopen & {
    background-color: var(--bg);
    border-bottom-color: #b2b2b2;
  }

  html[data-mode="dim"].jsopen & {
    border-bottom-color: var(--bg);
  }
}

.nav_brand img {
  mix-blend-mode: screen;

  @include darkmode {
    mix-blend-mode: normal;
  }
}

// div around menu items
.nav_parent.nav_parent {
  @include is-on {
    background-color: var(--theme);
    text-shadow: 0px 0px 1px $haze;
  }
}

.nav_active.nav_active {
  background-color: rgba(0,0,0,0.05);

  @include darkmode {
    background-color: rgba(255,255,255,0.15);
  }
}

.color_choice.color_choice {
  background-color: var(--translucent-lighter);
  box-shadow: none;
}

.button.button {
  padding-top: 0.55rem;
  font-weight: bold;
}

.post_link { // Ensure that the line height doesn't introduce non-clickable gaps.
  line-height: 1;

  a {
    display: block;
    line-height: 1.35;
  }
}

.post_tag.post_tag {
  margin-top: 0.25rem;
  padding-top: 0.25rem;
  font-weight: normal;

  &.post_tag--cat {
    font-weight: bold;
    background-color: var(--light);
    border-color: var(--theme);

    @include is-on {
      color: var(--themedark)
    }

    @include darkmode {
      background-color: var(--translucent);
      border-color: var(--theme);

      @include is-on {
        color: $haze
      }
    }
  }

  & .button_tally {
    margin-left: 0.5rem;
    padding: 0.2rem 0.75rem;
  }
}

.sidebar_inner.sidebar_inner::before,
html[data-mode="dim"].sidebar_inner.sidebar_inner::before {
  content: '';
  padding: 0.5px;
  top: 0;
  bottom: 0;
  background: linear-gradient(to bottom, var(--theme), var(--light));
  position: absolute;
  left: -2rem;
}

.sidebar_description.sidebar_description {
  line-height: 1.35;
}

.to_top.to_top,
.to_top.to_top.ios.ios {
  background-color: var(--themedark);
}

