@import 'rootwork_mixins';

$theme: #00b877;
$bg: #002714;

html {
  --theme: #00b877;
  --themedark: #008544;
  --bg: #002714;
  --bgdark: #003825;
  --font: 'Source Sans Pro', -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';

  &[data-mode="dim"] {
    --light: hsla(0,0%,100%,0.91);
  }

  @media (prefers-color-scheme: dark) {
    --light: hsla(0,0%,100%,0.91);
  }
}
