@import 'rootwork_mixins';

$theme: #00b877;
$bg: #002714;
$brown: #80502c;
$themelight: rgba($theme, 0.15); // corresponds to setting in parent theme
$thememed: lighten($theme, 3%);

$logo-width: 200px;
$logo-height: 125px;
$logo-descender-width: 75px;
$logo-descender-height: 75px;

$color: (
  bg: $bg,
  brown: #80311a,
  dark-brown: #5e1b07,
  green: #04800e,
  light-green: #4a0,
  pale-green: #afa,
);

$size: (
  img: 128px,
);

:root {
  --bg: #{map-get($color, bg)};
  --brown: #{map-get($color, brown)};
  --dark-brown: #{map-get($color, dark-brown)};
  --green: #{map-get($color, green)};
  --light-green: #{map-get($color, light-green)};
  --pale-green: #{map-get($color, pale-green)};
  --imageSize: #{map-get($size, img)};
  --imageTopPad: calc(var(--imageSize) * 0.1015625);
  --imageLeftPad: calc(var(--imageSize) * 0.03125);
  --imageHoverBorder: 0.025rem;

  --path1: path(
    'M0.5,0.8809405927459011C0.6742236726267955,0.8783475232129033,0.8464266586558027,0.7957694833735577,0.9008850806246101,0.6302554586208525C0.955887564323397,0.46308788160961145,0.8727654586201828,0.2863093841128522,0.7290832765532392,0.1846939198698237C0.5912439065422875,0.0872106315933165,0.4102321965604877,0.08932795385187803,0.2709658888328741,0.1847615902183829C0.1177540797641056,0.2897515214680936,0.002581817619055786,0.4663310591036274,0.06062521459222914,0.6427615218070912C0.11818355106269485,0.8177175799547459,0.3158395495907129,0.8836815569670057,0.5,0.8809405927459011'
  );
  --path2: path(
    'M0.5,0.9795383482123725C0.6857221938699083,0.9721704510159579,0.7910184140965331,0.7899683404504573,0.8457507886802791,0.6123412412302841C0.8971835321165036,0.4454226835942877,0.9001778983118924,0.24627990319388676,0.7565757273989906,0.14685380757628913C0.6193423184932219,0.051837263264646286,0.45028895707127253,0.14761776164694512,0.31426172143217135,0.2443531914398021C0.17179832032775982,0.34566568427139205,0.01525693726278532,0.47410060539245874,0.05807687248148169,0.6435895283516128C0.10818655044456776,0.8419325502272093,0.2955857853738638,0.987647787840822,0.5,0.9795383482123725'
  );
}

html {
  --theme: #00b877;
  --themedark: #008544;
  --bg: #002714;
  --bgdark: #003825;
  --brown: #80502c;
  --dark-brown: #80311a;
  --green: #04800e;
  --light-green: #4a0;
  --translucent-lighter: rgba(255, 255, 255, 0.25);
  --shade: rgba(0, 0, 0, 0.25);
  --shadedark: rgba(0, 0, 0, 0.8);
  --post-bg: var(--haze);
  --choice-bg: var(--light);
  --font: 'Source Sans Pro', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol';

  @include darkmode {
    --light: hsla(0, 0%, 100%, 0.91);
  }
}
