// Content of the footer

.footer_wrap {
  position: relative;
  z-index: 2;

  .footer_body {
    margin: 0 -1.5rem;
    padding: 1.5rem;
    font-family: var(--content-font);
    @include switch(background-color, var(--translucent-green), var(--shade));
  }

  p {
    font-size: 1rem;
    line-height: 1.3333;

    a {
      font-weight: bold;
      border-bottom: 1px currentColor dotted;
      @include is-on(color, var(--bright-green));
      @include is-on(border-bottom-style, solid);
    }
  }

  .year {
    margin-left: -0.5rem; // kerning!
  }
}
