// Content of the footer

.footer {
  &__body {
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    margin-top: -0.1rem;
    padding: calc(var(--page-padding) * 2) var(--page-padding);
    font-family: var(--content-font);
    @include switch(background-color, var(--pale-green), var(--dark-green));

    @include bp-s-up {
      grid-template-columns: 4rem 1fr;
      align-items: start;
      justify-items: start;
      justify-content: center;
      padding: calc(var(--page-padding) * 4) var(--page-padding);
    }

    @include bp-m-up {
      align-items: center;
    }

    @include bp-l-up {
      grid-template-columns: 4rem max-content;
    }

    &::before,
    &::after {
      content: '';
      position: absolute;
      display: block;
      left: 0;
      right: 0;
    }

    &::before {
      top: 0;
      height: 1px;
      background: var(--light);
    }

    &::after {
      bottom: 0;
      height: 3px;
      background: var(--g-green);
    }
  }

  &__icon {
    margin-bottom: 2rem;
  }

  &__text {
    margin: 0;
    padding: 0;
    font-size: 1rem;
    line-height: 1.3333;

    a {
      font-weight: bold;
      border-bottom: 1px currentColor dotted;
      @include is-on(color, var(--bright-green));
      @include is-on(border-bottom-style, solid);
    }

    .year {
      margin-left: -0.5rem; // kerning!
    }
  }

  &__textline {
    display: inline-block;
    margin-bottom: var(--page-padding);

    @include bp-m-up {
      display: inline-block;
    }

    @include bp-s-up {
      &--privacy {
        display: block;
        margin-bottom: 0;
      }
    }
  }
}
