.footer_inner {
  p {
    font-size: 1rem;
    line-height: 1.3333;

    a {
      font-weight: 700;
      border-bottom: 1px currentColor dotted;

      @include is-on {
        color: var(--bright-green);
        border-bottom-style: solid;
      }
    }
  }

  .year {
    margin-left: -0.5rem; // kerning!
  }
}
