.footer_inner {
  p {
    line-height: 1.333;

    a {
      font-weight: 700;
      border-bottom: 1px currentColor dotted;

      @include is-on {
        color: var(--bright-green);
      }
    }
  }

  .year {
    margin-left: -0.3rem; // kerning!
  }
}
