.footer_surprise {
  position: sticky;
  bottom: 0;
  z-index: -1;
  display: grid;
  justify-content: center;
  margin: 0;
  padding: 0;
  background-color: var(--md-dark-green);

  > svg {
    max-width: 500px;
    margin: 2rem 1rem 0;
    mix-blend-mode: overlay;
  }
}
