// BACK-TO-TOP LINK

.footer .to_top,
.footer .to_top.ios {
  background-color: var(--bright-green);
  border-width: 2px;
  border-style: solid;
  @include switch(border-color, var(--white), var(--dark-green));

  svg.icon {
    opacity: 1;
    @include switch(fill, var(--white), var(--dark-green));
    transition: fill;
    @include motion(transition-duration, 500ms);
  }

  @include is-on {
    @include switch(border-color, var(--dark-green), var(--white));

    svg.icon {
      @include switch(fill, var(--dark-green), var(--light));
    }
  }
}
