{{/* 1. Adding default `no-js` tag on <html>

  2. Adding `strict-origin-when-cross-origin` CORS referrer policy.

  3. Adding `fonts.html` partial.

  4. Adding indieauth endpoint.

  5. Adding preload tag for fonts (bold and regular; no italics).

  6. Adding skip_to_content partial.
*/}}{{- $s := .Site.Params }}{{- $p := .Params }}{{- $codeBlockConfig := partial "func/getCodeBlockSettings" . }}<!DOCTYPE html>
<html
  lang="{{ .Lang }}"
  data-figures="{{ $p.figurePositionShow }}"
  class="
    no-js
    {{ if .IsPage }}
    page
  {{ else if .IsHome }}
    home
  {{ end }}
  "
  data-mode="
    {{ with $s.enforceLightMode }}lit{{ end }}
    {{ with $s.enforceDarkMode }}dim{{ end }}
  "
>
  <head>
    {{- partial "head" . }}

    {{/* CORS */}}
    <meta name="referrer" content="strict-origin-when-cross-origin" />

    {{/* custom fonts */}}
    {{- partial "fonts" . }}

    {{/* indieauth endpoint */}}
    <link rel="authorization_endpoint" href="https://indieauth.com/auth" />

    {{/* preload fonts */}}
    <link
      rel="preload"
      href="{{ "/fonts/source-sans-pro-v14-latin-900.woff2" | relURL }}"
      as="font"
      type="font/woff2"
      crossorigin="anonymous"
    />
    <link
      rel="preload"
      href="{{ "/fonts/source-sans-pro-v14-latin-regular.woff2" | relURL }}"
      as="font"
      type="font/woff2"
      crossorigin="anonymous"
    />

    {{/* JSON-LD schema (SEO) */}}
    {{ partial "site_schema.html" . }}

    {{ partial "hooks/head-end.html" . }}
  </head>
  <body
    data-code="{{ $codeBlockConfig.max }}"
    data-lines="{{ $codeBlockConfig.lines }}"
    id="documentTop"
  >
    {{- partial "skip_to_content" . }}
    {{- partial "header" . }}
    <main>
      {{- block "main" . }}{{ end }}
    </main>
    {{- partialCached "icons" . }}
    {{- partialCached "footer" . }}
    {{- partialCached "scripts" . }}
    {{- partialCached "hooks/body-end" . }}
  </body>
</html>
