{{/* @TODO:

  * Add Facebook link
  * Move CSS to style file

*/}}
{{ if and (isset .Site.Params "shareontwitter") (ne .Site.Params.shareOnTwitter false) }}
  <a class="share twitter" href="https://twitter.com/intent/tweet?text={{.Title}} - {{truncate 50 .Description}}&url={{.Permalink}}&hashtags={{ if isset .Params "categories" }}{{delimit .Params.categories ","}}{{ end }}{{ if isset .Site.Params "twitterhandle" }}&via={{.Site.Params.twitterHandle}}{{ end }}" target="_blank" rel="noopener noreferrer" style="display: inline-block; width: 48px; height: 48px; background: url({{ (resources.Get "img/twitter-share.png").Permalink | safeCSS }}) no-repeat center/contain;" title="Share on Twitter"></a>
{{ end }}
{{ if and (isset .Site.Params "shareonlinkedin") (ne .Site.Params.shareOnLinkedIn false) }}
  <a class="share linkedin" href="https://www.linkedin.com/shareArticle?mini=true&url={{.Permalink}}&title={{.Title}}&summary={{.Description}}&source={{.Site.Params.brand}}" target="_blank" rel="noopener noreferrer" onclick="window.open(this.href, 'mywin','left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;" style="display: inline-block; width: 48px; height: 48px; background: url({{ (resources.Get "img/linkedin-share.png").Permalink | safeCSS }}) no-repeat center/contain;" title="Share on LinkedIn"></a>
{{ end }}