{{/* getContent:

  Pass the .Content var through some formatters while preserving its page-
  specific variations (such as RSS).
*/}}

{{- $s := .Site.Params -}}

{{/* Regular content */}}

{{- $html := .Content -}}
{{- $html = strings.Trim $html "\n" -}}

{{- $plain := .Plain -}}
{{- $plain := strings.Trim $plain "\n" -}}

{{/* Feed content */}}

{{- $feed_html := strings.Trim .Content "\n" -}}
{{- $feed_html = partial "function/absurlify" (dict "ctx" . "content" $feed_html) -}}
{{- $feed_html = partial "function/entify" $feed_html -}}
{{- $feed_html = replace $feed_html "\n" " " -}}

{{- $feed_plain := .Plain -}}
{{- $feed_plain := strings.Trim $plain "\n" -}}
{{- $feed_plain = replace $feed_plain "\n" " " -}}

{{- $content := dict
  "lang"         .Language.Lang
  "istranslated" .IsTranslated
  "translations" .Translations
  "wordcount"    .WordCount
  "html"  $html
  "plain" $plain
  "feed"  (dict
  "html"  $feed_html
  "plain" $feed_plain
  )
-}}

{{- return $content -}}
