{{/* getDate:

  Retrieve published date and, if modified, updated date.
*/}}

{{- $published := .Date -}}
{{- $updated := .Lastmod -}}

{{/* Creating a random number of seconds+millisecs to ensure no two dates are
  exactly the same, required for feed validation.
*/}}
{{- $title := partial "function/vars/getTitle" . -}}
{{- $seed := int ( printf "0x%.8s" (md5 ($title.linked))) -}}
{{- $rnd := mod (add (mul 13 $seed) 97) 400 -}}

{{- $publishedExact := $published.Unix -}}
{{- $publishedExact = add $publishedExact $rnd -}}
{{- $publishedExact = $publishedExact | time.AsTime -}}

{{- $updatedExact := $updated -}}

{{- if eq .Date .Lastmod -}}
  {{- $updated = "" -}}
  {{- $updatedExact = "" -}}
{{- else -}}
  {{- $updatedExact = .Lastmod.Unix -}}
  {{- $updatedExact = add $updatedExact $rnd -}}
  {{- $updatedExact = $updatedExact | time.AsTime -}}
{{- end -}}

{{/* Because we only use dates, with no times, listings in e.g. feeds come out
  as 12 midnight. This adds 12 hours to each date to at least have them
  listed as 12 noon.
*/}}

{{- $publishedExact = ($publishedExact.Add (time.ParseDuration "12h")) -}}
{{- with $updatedExact -}}
  {{- $updatedExact = ($updatedExact.Add (time.ParseDuration "12h")) -}}
{{- end -}}

{{- $date := dict
  "published"      $published
  "updated"        $updated
  "publishedExact" $publishedExact
  "updatedExact"   $updatedExact
-}}

{{- return $date -}}
