{{/* getKeywords:

  Retrieve keywords for metadata from current page based on frontmatter, site
  settings, and related keywords set in site data.
*/}}

{{- $s := .Site.Params -}}
{{- $p := .Params -}}

{{- $metaKeywords := slice -}}
{{- with $p.categories -}}
  {{- $metaKeywords = $metaKeywords | append . -}}
{{- end -}}
{{- with $p.tags -}}
  {{- $metaKeywords = $metaKeywords | append . -}}
{{- end -}}
{{- with $p.keywords -}}
  {{- $metaKeywords = $metaKeywords | append . -}}
{{- end -}}
{{- with $metaKeywords -}}
  {{- range $key, $value := $.Site.Data.terms.keywords.additional -}}
    {{- if in $metaKeywords $key -}}
      {{- $metaKeywords = $metaKeywords | append $value -}}
    {{- end -}}
  {{- end -}}
  {{- $metaKeywords = delimit $metaKeywords ", " -}}
{{- end -}}
{{- $keywords := "" -}}
{{- with $.Site.Data.terms.keywords.default -}}
  {{- $keywords = delimit $.Site.Data.terms.keywords.default ", " -}}
{{- end -}}
{{- with $metaKeywords -}}
  {{- $keywords = $metaKeywords -}}
{{- end -}}

{{- return $keywords -}}
