// NAVIGATION CONTAINER

header.nav_header {
  @include switch(background-color, var(--bright-green), var(--hazy-green));
  @include switch(border-bottom-color, var(--white), var(--bg));
  border-bottom-width: 0.2rem;
  border-bottom-style: solid;
  @include bp(sm) {
    border-bottom-width: 1px;
  }
}
