// SOCIAL-FOLLOW ICONS IN NAVIGATION BAR

.follow {
  a {
    opacity: 0.8;
    transition: opacity;
    transition-duration: 500ms;

    .icon {
      width: 1.5rem;
      height: 1.5rem;

      .nav_body_right & {
        width: 1.1rem;
        height: 1.1rem;
      }
    }

    // RSS is a little too big
    &:last-of-type .icon {
      width: 1.15rem;
      height: 1.15rem;

      .nav_body_right & {
        width: 1rem;
        height: 1rem;
      }
    }

    svg {
      transition: transform;
      @include motion(transition-duration, 1s);
    }

    @include is-on {
      opacity: 1;

      svg {
        transform-origin: 50% 50%;
        @include motion(transform, rotate(360deg));
      }
    }

    .jsopen & {
      opacity: 1;
    }
  }
}
