// SOCIAL-FOLLOW ICONS IN NAVIGATION BAR

.follow {

  .jsopen & {
    flex-wrap: wrap;
  }

  a {
    opacity: 0.8;
    transition: opacity;
    transition-duration: 500ms;

    .jsopen & {
      margin-bottom: 1.5rem;
    }

    .icon {
      width: 1.5rem;
      height: 1.5rem;

      .jsopen & {
        width: 1rem;
        height: 1rem;
      }
    }

    // RSS is a little too big
    &:last-of-type .icon {
      width: 1.15rem;
      height: 1.15rem;

      .jsopen & {
        width: 1rem;
        height: 1rem;
      }
    }

    svg {
      transition: transform;
      transition-duration: 0;
      fill: var(--white);
    }

    @include is-on {
      opacity: 1;

      svg {
        transform-origin: 50% 50%;
        @include motion(transform, rotate(360deg));
        @include motion(transition-duration, 1s);
      }
    }

    .jsopen & {
      opacity: 1;
    }
  }
}
