// Social/follow icons in navigation bar

.nav_header .nav_body .follow {
  flex: 1 0 var(--follow-icons-width);
  margin-left: auto;

  .jsopen & {
    flex-wrap: wrap;
  }

  a {
    opacity: 0.8;
    transition: opacity;
    transition-duration: 500ms;
    @include focus-line(map-get($color, white));

    .jsopen & {
      margin-bottom: 1.5rem;
    }

    .icon {
      width: 1.25rem;
      height: 1.25rem;
      transition: transform opacity;
      transition-duration: 0;
      fill: var(--white);

      .jsopen & {
        width: 1rem;
        height: 1rem;
      }
    }

    @include is-on {
      opacity: 1;

      & svg {
        transform-origin: 50% 50%;
        @include motion(transform, rotate(360deg));
        @include motion(transition-duration, 1s);
      }
    }

    .jsopen & {
      opacity: 1;
    }
  }
}
