// Social/follow icons in navigation bar

.follow.follow {
  flex: 1 0 var(--follow-icons-width);
  margin-left: auto;

  .jsopen & {
    flex-wrap: wrap;
  }

  a {
    opacity: 0.8;
    transition: opacity;
    transition-duration: 500ms;
    @include focus-line(map-get($color, white));

    .jsopen & {
      margin-bottom: 1.5rem;
    }

    .icon {
      width: 1.5rem;
      height: 1.5rem;
      transition: transform opacity;
      transition-duration: 0;
      fill: var(--white);

      .jsopen & {
        width: 1rem;
        height: 1rem;
      }
    }

    &.rss {
      position: relative;

      &::before {
        @include motion(content, attr(title));
        position: absolute;
        left: 0.7rem;
        bottom: -0.2rem;
        font-size: 0.9rem;
        text-transform: uppercase;
        opacity: 0;
        transition-duration: 0;
      }

      .icon {
        width: 1.15rem;
        height: 1.15rem;

        .jsopen & {
          width: 1rem;
          height: 1rem;
        }
      }
    }

    @include is-on {
      opacity: 1;

      &:not(.rss) svg {
        transform-origin: 50% 50%;
        @include motion(transform, rotate(360deg));
        @include motion(transition-duration, 1s);
      }

      &.rss {
        &::before {
          opacity: 1;
        }

        svg {
          transform-origin: 0 50%;
          @include motion(opacity, 0);
          @include motion(
            transform,
            translateX(27.5%) translateY(-50%) scale(3) rotate(0.001deg)
          );
          @include motion(transition-duration, 1s);
        }
      }
    }

    .jsopen & {
      opacity: 1;
    }
  }
}
