// LIGHT MODE SWITCHER

.color_mode {
  position: relative;
  top: -0.3333rem;

  .nav_body_right & {
    top: -0.15rem;
  }

  html.no-js & {
    @include hidden-all;
  }

  .color_mode-toggle {
    user-select: none;
    cursor: pointer;
    padding: 0.2rem 0.4rem 0;
    height: 32px;
    border-radius: 1rem;
    @include switch(
      background-color,
      var(--light),
      var(--dark-green)
    );

    .nav_body_right & {
      margin-left: 0.1rem;
      padding: 0.2rem 0.15rem 0;
      height: auto;
      @include switch(
      background-color,
        var(--light),
        var(--dark-shade)
      );
    }

    &:hover::after,
    &:focus-within::after {
      content: attr(data-tip);
      position: absolute;
      top: calc(100% + 0.25rem);
      right: 0;
      padding: 0.1rem 0.5rem;
      color: var(--haze);
      background-color: var(--shadedark);
      border-radius: 0.25rem;
    }
  }

  .color_choice {
    background-color: var(--translucent-lighter);
    box-shadow: none;

    &::after {
      width: 1.5rem;
      height: 1.5rem;

      .nav_body_right & {
        width: 1.2rem;
        height: 1.2rem;
      }

      @include switch(
        background-image,
        url('/icons/sun.svg'),
        url('/icons/moon.svg')
      );
    }
  }
}
