// Light mode switcher
//
// General styles come first; for clarity mobile menu overrides are all together at the bottom.

.color_mode {
  position: relative;
  top: -0.3333rem;

  html.no-js & {
    @include hidden-all;
  }

  .color_mode-toggle {
    user-select: none;
    cursor: pointer;
    padding: 0.2rem 0.4rem 0;
    height: 32px;
    border-radius: 1rem;
    @include switch(background-color, var(--light), var(--dark-shade));

    &:hover::after,
    &:focus-within::after {
      content: attr(data-tip);
      position: absolute;
      top: calc(100% + 0.75rem);
      right: 0;
      padding: 0.1rem 0.5rem;
      color: var(--haze);
      background-color: var(--dark-shade);
      border-radius: 0.25rem;
    }
  }

  .color_choice {
    background-color: var(--translucent-lighter);
    box-shadow: none;
    overflow: visible;

    &::after {
      @include switch(top, -0.4rem, -0.16666rem);
      @include switch(left, -0.5rem, -0.25rem);
      @include switch(width, 2.5rem, 2rem);
      @include switch(height, 2.5rem, 2rem);
      @include switch(
        background-image,
        url('../icons/sun-icon2.png'),
        url('../icons/full-moon.svg')
      );
    }
  }
}

// Mobile-menu version (overrides)

.jsopen {
  .color_mode {
    top: -0.85rem;
  }

  .color_mode-toggle {
    margin-left: 0.1rem;
    padding: 0.2rem 0.15rem 0;
    height: auto;
    @include switch(background-color, var(--light), var(--dark-shade));
  }

  .color_choice::after {
    width: 1.2rem;
    height: 1.2rem;
  }
}
