// LIGHT MODE SWITCHER

.color_mode {
  position: relative;

  html.no-js & {
    @include hidden-all;
  }

  .color_mode-toggle {
    user-select: none;
    cursor: pointer;
    padding: 0.2rem 0.4rem 0;
    height: 32px;
    border-radius: 1rem;
    @include switch(
      background-color,
      var(--translucent-green),
      var(--dark-green)
    );

    &:hover::after,
    &:focus-within::after {
      content: attr(data-tip);
      position: absolute;
      top: calc(100% + 0.25rem);
      right: 0;
      padding: 0.1rem 0.5rem;
      color: var(--haze);
      background-color: var(--shadedark);
      border-radius: 0.25rem;
    }
  }

  .color_choice {
    background-color: var(--translucent-lighter);
    box-shadow: none;

    &::after {
      @include switch(
        background-image,
        url('/icons/sun.svg'),
        url('/icons/moon.svg')
      );
    }
  }
}
