// ROOTWORK LOGO

.nav_brand {
  min-height: var(--logo-top-height);

  .logo {
    position: absolute;
    top: 0.5rem;

    // prevent lower section from preventing pointer events
    max-height: var(--logo-top-height);
    overflow: visible;

    .roots {
      pointer-events: none;
      transition: transform fill;
      transform-origin: 0 50%;
      @include motion(transition-duration, 750ms);
    }

    #logo_roots {
      fill: var(--brown);
    }

    #logo_roots-1 {
      fill: var(--brown);
    }

    #logo_roots-2,
    #logo_roots-3 {
      fill: transparent;
    }

    #logo_roots-low,
    #logo_roots-low-2 {
      fill: transparent;
    }

    #logo_word-root {
      fill: var(--brown);
    }

    #logo_word-work {
      fill: var(--green);
    }

    #logo_stem {
      fill: var(--green);
    }

    .leaf {
      fill: var(--light-green);
      padding-top: 25px;
      transition: transform fill;
      transform-origin: 50% 15%;
      @include motion(transition-duration, 750ms);
    }

    #logo_line {
      width: 0;
      transition: fill width;
      transition-timing-function: ease-in-out;
      @include motion(transition-duration, 500ms);
    }

    @include is-on {
      .roots {
        @include motion(transform, translateY(-5%) scale3d(1, 1.25, 1.25) rotate(0.0001deg));
      }

      #logo_roots-low,
      #logo_roots-low-2 {
        @include motion(fill, var(--dark-brown));
      }

      #logo_roots-low-2 {
        @include motion(transform, skewX(-3deg));
      }

      #logo_leaf {
        fill: yellow;
        transform: scale(0.5) translate(2px, -7px) rotate(-30deg);
      }

      #logo_leaf-2 {
        fill: yellow;
        transform: scale(0.6) translate(5px, -5px) rotate(2.5deg);
      }

      #logo_leaf-3 {
        fill: deepPink;
        transform: scale(0.8) rotate(-17.5deg);
      }

      #logo_leaf-4 {
        fill: deepPink;
        transform: rotate(10deg);
      }

      #logo_leaf-5 {
        fill: deepPink;
        transform: scaleX(-1) translate(-8px, 3px) rotate(-40deg);
      }

      #logo_line {
        fill: var(--medium-theme);
        width: 162px;
      }
    }
  }
}
