// NAVIGATION MENU

.nav_header {
  // header wrapper provided for specificity

  .nav_body {
    // navigation menu wrapper
  }

  .nav_parent {
    // navigation menu items
    margin: 0;
    border-radius: 0;

    @include is-on {
      @include switch(
        background-color,
        rgba(0, 0, 0, 0.3),
        var(--medium-light)
      );
      text-shadow: 0px 0px 1px var(--hazy-white);
      transition: background-color text-shadow;
      @include motion(transition-duration, 500ms);
    }

    &.nav_active {
      @include switch(
        background-color,
        rgba(0, 0, 0, 0.15),
        rgba(255, 255, 255, 0.15)
      );
    }
  }

  .nav_item {
    // navigation menu links
    padding: 0.5rem 1rem;
    font-size: 1.25rem;
    @include focus(text-decoration, underline);
  }

  .nav_close .icon {
    fill: var(--white);
  }
}
