// Navigation menu
//
// Header wrapper used for specificity.

.nav_header {
  .nav_body {
    // Navigation menu wrapper
  }

  // Navigation menu items
  .nav_parent {
    margin: 0;
    border-radius: 0;

    @include is-on {
      background-color: var(--medium-light);
      text-shadow: 0px 0px 1px var(--hazy-white);
      transition: background-color text-shadow;
      @include motion(transition-duration, 500ms);
    }

    &.nav_active {
      background-color: rgba(255, 255, 255, 0.15);
    }
  }

  // Navigation menu links
  .nav_item {
    padding: 0.5rem 1rem;
    font-family: var(--heading-font);
    font-size: 1.5rem;
    @include focus-line(map-get($color, white));
  }

  // Mobile navigation close icon
  .nav_close .icon {
    fill: var(--white);
  }
}
