// Second-level menus

.nav_header .nav_body .nav_parent {
  > .nav_item + .nav_sub {
    opacity: 0;
    max-height: 0;
    margin: 1rem 0 0;
    padding: 0;
    @include switch(background-color, var(--blue));
    transition: all 0.3s ease-in-out;

    .jsopen & {
      margin-top: 0;
    }

    &::before {
      @include switch(border-bottom-color, var(--blue));
    }
  }

  > .nav_item.nav_open + .nav_sub {
    opacity: 1;
    max-height: 100vh;

    .jsopen & {
      box-shadow: none;
    }

    .nav_child {
      opacity: 1;
      padding: 0.5rem 1rem;
      font-size: 1.25rem;
      @include switch(color, var(--black));

      @include is-on {
        @include switch(color, var(--white));
      }

      &:first-of-type {
        padding-top: 1rem;
      }

      &:last-of-type {
        padding-bottom: 1rem;
      }
    }

    span.nav_child {
      padding: 0;
    }
  }

  @include is-on {
    > .nav_item {
      opacity: 1;

      + .nav_sub .nav_child {
        text-shadow: none;
      }
    }
  }
}
