// Search results overlay

.search {
  .search_results {
    @include switch(background-color, var(--hazy-white), var(--dark-green));
    border: 1px var(--white) solid;

    .nav_header & {
      @include switch(border-color, var(--dark-green), var(--white));
    }

    .search_title {
      font-size: 1.5rem;
      color: var(--white);
    }

    .search_result {
      @include is-on {
        @include switch(
          background-color,
          var(--dark-shade),
          var(--md-dark-green)
        );
      }

      &[href*='/categories/'] {
        font-weight: bold;
        text-transform: capitalize;

        &::before {
          content: 'Category: ';
        }
      }

      &[href*='/tags/'] {
        font-weight: bold;

        &::before {
          content: 'Tag: ';
        }
      }
    }
  }
}
