//
// Card (content excerpt)
//

.card-container {
  max-width: 49rem;
}

.card-container > a:first-of-type {
  margin-top: 5em;
}

.card {
  display: block;
  margin: 2.2rem 0;
  box-sizing: border-box;
  background-color: white;
  text-decoration: none;
  border-radius: 0.3rem;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  transition: transform 0.2s cubic-bezier(0.25,0.8,0.25,1), box-shadow 0.2s cubic-bezier(0.25,0.8,0.25,1);
  box-shadow: 0 0.5rem 1rem 0 rgba(0,0,0,0.19), 0 0.3rem 0.3rem -0.1rem rgba(0,0,0,0.23);
}

.home-card {
  padding: 0.8em;
  font-size: 2em;
  font-weight: bold;
  text-align: center;
  color: white;
  background-position: center center;
  object-fit: cover;
}

.blog-card {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.card-img-container {
  position: relative;
}

.card-img {
  border-radius: 0.3rem 0.3rem 0 0;
  margin: 0 0 -0.28em 0;
  max-height: 10em;
  object-fit: cover;
}

.card-img-cover {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  max-width: 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 8 8'%3E%3Cg fill='%23ffffff' fill-opacity='0.75'%3E%3Cpath fill-rule='evenodd' d='M0 0h4v4H0V0zm4 4h4v4H4V4z'/%3E%3C/g%3E%3C/svg%3E");
}

.card-img-overlay {
  border-radius: 0.3rem 0.3rem 0 0;
  position: absolute;
  top: 0;
  font-size: 1.27em;
  text-align: center;
  padding: 1.18em 0 0.5em 0;
  width: 100%;
  box-sizing: border-box;
  margin: 0;
  color: white;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 5;
}

.card-body {
  padding: 1em;
}

.card-title {
  margin: 0;
  line-height: 1.2;
}

.card-text {
  margin: 1em 0;
  line-height: 1.5;
}

.card-subtext {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  font-size: 0.8em;
}

.card-subtext > p {
  margin: 0;
}

.card-subtext > p + p {
  margin-left: 1em;
  padding-left: 1em;
  word-spacing: 0.5em;
  border-left: thin solid #7a7b7c;
}

@media screen and (pointer: coarse) {
 .card-hover {
  box-shadow: 0 0.15rem 0.3rem 0 rgba(0, 0, 0, 0.16), 0 0.15rem 0.3rem -0.04rem rgba(0, 0, 0, 0.23);
  }

}

@media not screen and (pointer: coarse) {
  .card:hover {
    box-shadow: 0 0.15rem 0.3rem 0 rgba(0, 0, 0, 0.16), 0 0.15rem 0.3rem -0.04rem rgba(0, 0, 0, 0.23);
  }

  .card:active {
  }

}
