//
// Images and image styles
//

img {
  display: block;
  width: 100%;
  height: auto;
  margin: 1.5em 0;
}

.small-pic {
  display: block;
  margin-top: 1.5em;
}

.small-img {
  width: unset;
  max-width: 100%;
  margin: 0 auto 1.5em auto;
}

a.share img {
  display: inline;
  width: 2em;
  clear: right;
  margin-right: 0.5em;
}
