//
// Individual posts
//

.post {
  margin: 0 0 1em 0;
  line-height: 1.6;
}

.post-header {
  margin: 0 0 1.5em 0;
}

.post-title {
  font-size: 1.8em;
  line-height: 1.2;
  margin: 0 0 0.4em 0;
}

.post-categories {
  display: block;
  font-size: 0.8em;
  line-height: 1.5;
}

.category {
  background-color: #eee;
  padding: 0.25em;
  color: #000;
}

.post-date {
  display: block;
  color: #7a7b7c;
  font-size: 0.8em;
  margin: 0;
}

.post-figure {
  margin: 0 0 1.5em;

  img {
    margin: 0 0 1.5em;
  }
}
