// About me

.about__title {

}

.about__heading {
  display: block;
  max-width: 780px;
  margin: 0 auto;
  text-align: center;
  box-align: center;
  align-items: center;
  box-pack: justify;
  justify-content: space-between;

  @include mq(mediumish) {
    display: flex;
    text-align: left;
  }
}

.about__face {
  display: block;
  margin: 0 auto 30px;
  border-radius: 50%;
  background-size: cover;
  background-position: center center;
  background-image: url("../img/avatar.jpg");
  background-repeat: no-repeat;
  height: 200px;
  width: 200px;
  box-ordinal-group: 3;
  order: 3;

  @include mq(mediumish) {
    display: inherit;
    margin: 0;
    background-position: center;
  }
}

.about__intro {
  max-width: 620px;
  padding: 0 20px;
  margin: 50px auto;
  font-size: 24px;
  text-align: center;
  font-weight: 300;
}
