// Breakpoints
//
// Apply styles at particular breakpoints.

$single-column-breakpoint: 92.5rem;
$mobile-menu-breakpoint: 62.5rem;
$mobile-screen: 27rem;

@mixin bp-xs-up {
  @media screen and (min-width: $mobile-screen) {
    & {
      @content;
    }
  }
}

@mixin bp-xs-only {
  @media screen and (max-width: $mobile-screen) {
    & {
      @content;
    }
  }
}

@mixin bp-s-up {
  @media screen and (min-width: $single-column-breakpoint) {
    & {
      @content;
    }
  }
}

@mixin bp-s-only {
  @media screen and (max-width: $single-column-breakpoint) {
    & {
      @content;
    }
  }
}

@mixin bp-m-up {
  @media screen and (min-width: $mobile-menu-breakpoint) {
    & {
      @content;
    }
  }
}

@mixin bp-m-only {
  @media screen and (max-width: $mobile-menu-breakpoint) {
    & {
      @content;
    }
  }
}

@mixin breakat($breakpoint) {
  @if $breakpoint = 'sm' {
    @media screen and (min-width: $single-column-breakpoint) {
      & {
        @content;
      }
    }
  }

  @if $breakpoint = 'md' {
    @media screen and (max-width: $mobile-menu-breakpoint) {
      & {
        @content;
      }
    }
  }

  @if $breakpoint = 'lg' {
    @media screen and (min-width: $mobile-menu-breakpoint) {
      & {
        @content;
      }
    }
  }
}
