// Backwards-compatible :focus-visible
// See https://www.tpgi.com/focus-visible-and-backwards-compatibility/
// and for a full polyfill, https://github.com/WICG/focus-visible

// Inspired by https://fotis.xyz/posts/progressively-enhancing-focus-visible/
// This mixin is not as elegant or flexible, but simpler.

// Usage
//
// SCSS:
//
// a {
//   @include focus(outline, 1px black dotted, none);
// }
//
// CSS:
//
// a:focus {
//   outline: 1px black dotted;
// }
//
// a:focus:not(:focus-visible) {
//   outline: none;
// }
//
// a:focus-visible {
//   outline: 1px black dotted;
// }
//
// If the focus reset is "none", it can be omitted:
// @include focus(outline, 1px black dotted);

@mixin focus($property, $focusStyle, $focusReset: none) {
  &:focus {
    #{$property}: $focusStyle;
  }

  &:focus:not(:focus-visible) {
    #{$property}: $focusReset;
  }

  &:focus-visible {
    #{$property}: $focusStyle;
  }
}

@mixin focus-line($color) {
  position: relative;

  &:focus {
    outline: none !important;

    &::after {
      position: absolute;
      display: block;
      content: '';
      left: 0;
      right: 0;
      bottom: -0.55rem;
      height: 3px;
      background-color: $color;
    }
  }

  &:focus:not(:focus-visible) {
    box-shadow: none;

    &::after {
      position: absolute;
      display: none;
      content: '';
      left: 0;
      right: 0;
      bottom: 0;
      height: 0;
      background-color: transparent;
    }
  }

  &:focus-visible {
    outline: none !important;

    &::after {
      position: absolute;
      display: block;
      content: '';
      left: 0;
      right: 0;
      bottom: -0.55rem;
      height: 3px;
      background-color: $color;
    }
  }
}

// Turn default focus indicators back on as fallbacks.

html a:focus,
html a:focus-visible {
  outline: 2px solid #00b877 !important;
}
