// Full width (breaking out of parents)

%full {
  position: relative;
  width: 100vw;
  left: var(--offset);
  right: var(--offset);
  margin-left: var(--offset);
  margin-right: var(--offset);
}

@mixin full {
  @extend %full;
}

@mixin fullwidth {
  --offset: calc((var(--page-padding) / 2) * -1);
  @extend %full;
  padding-left: var(--page-padding);
  padding-right: var(--page-padding);
}

// Accounts for content padding AND logo descender width.
@mixin fullcontent {
  --offset: calc(
    ((var(--logo-descender-width) / 2) + (var(--page-padding) / 2)) * -1
  );
  @extend %full;
}

@mixin undofull {
  position: initial;
  width: auto;
  left: auto;
  right: auto;
  margin-left: initial;
  margin-right: initial;
}
